.checkout-page{
  &_layout__inner-wrapper{
    padding: 20px 0 100px;
    .common-title._h2{
      margin-bottom: 28px;
      padding-left: 30px;
      font-size: $font-size-xl;
      line-height: $line-height-xl;
      font-family: $font-family-primary;
      font-weight: 500;
    }
  }

  &_list{
    &__wrapper{
      width: 100%;
      padding-right: 22px;
    }
    &__content{
      padding: 20px 0;
      background: $color-white;
      box-shadow: $box-shadow-bs;
      border-radius: $border-radius-lg;
      .product-cart-card_wrapper{
        &:not(:last-of-type){
          &:before{
            opacity: 1;
          }
        }
      }
    }
  }

  &_settings{
    .address-selection_wrapper{
      margin-bottom: 25px;
    }
  }

}
