@import "variables-media";

$space: 4px;
$transition: 0.2s;
$iconOpacity: 0.36;

$color-white: #ffffff;
$color-black: #000000;
$color-black-300: #333334;

$color-primary-strong: rgba(255, 255, 255, 1);
$color-primary-200: rgba($color-primary-strong, 0.2);
$color-primary-400: rgba($color-primary-strong, 0.4);
$color-primary-600: rgba($color-primary-strong, 0.6);
$color-primary-800: rgba($color-primary-strong, 0.8);

$color-secondary-strong: rgba(44, 44, 53, 1);
$color-secondary-40: rgba($color-secondary-strong, 0.04);
$color-secondary-120: rgba($color-secondary-strong, 0.12);
$color-secondary-160: rgba($color-secondary-strong, 0.16);
$color-secondary-200: rgba($color-secondary-strong, 0.2);
$color-secondary-360: rgba($color-secondary-strong, 0.36);
$color-secondary-400: rgba($color-secondary-strong, 0.4);
$color-secondary-600: rgba($color-secondary-strong, 0.6);
$color-secondary-800: rgba($color-secondary-strong, 0.8);

$color-accent-strong: rgba(255, 215, 0, 1);
$color-accent-40: rgba($color-accent-strong, 0.04);
$color-accent-80: rgba($color-accent-strong, 0.08);
$color-accent-100: rgba($color-accent-strong, 0.1);
$color-accent-200: rgba($color-accent-strong, 0.2);
$color-accent-360: rgba($color-accent-strong, 0.36);
$color-accent-400: rgba($color-accent-strong, 0.4);
$color-accent-600: rgba($color-accent-strong, 0.6);
$color-accent-800: rgba($color-accent-strong, 0.8);

$color-success-strong: rgba(16, 135, 0, 1);
$color-success-200: rgba($color-success-strong, 0.2);
$color-success-400: rgba($color-success-strong, 0.4);
$color-success-600: rgba($color-success-strong, 0.6);
$color-success-800: rgba($color-success-strong, 0.8);

$color-critical-strong: rgba(255, 4, 4, 1);
$color-critical-200: rgba($color-critical-strong, 0.2);
$color-critical-400: rgba($color-critical-strong, 0.4);
$color-critical-600: rgba($color-critical-strong, 0.6);
$color-critical-800: rgba($color-critical-strong, 0.8);

$color-blue-secondary: rgba(62, 99, 221, 1);
$color-blue-strong: rgba(21, 114, 253, 1);
$color-blue-200: rgba($color-blue-strong, 0.2);
$color-blue-400: rgba($color-blue-strong, 0.4);
$color-blue-600: rgba($color-blue-strong, 0.6);
$color-blue-800: rgba($color-blue-strong, 0.8);

// Text-color
$text-color-primary: $color-secondary-strong;
$text-color-secondary: $color-secondary-360;
$text-color-disabled: $color-secondary-200;
$text-color-success: $color-success-strong;
$text-color-critical: $color-critical-strong;
$text-color-blue: $color-blue-strong;

// Icon-color
$icon-color-primary: $color-secondary-strong;
$icon-color-secondary: $color-secondary-400;
$icon-color-secondary-active: $color-secondary-strong;
$icon-color-disabled: $color-secondary-200;

// Border-color
$border-color-accent: $color-accent-strong;
$border-color-primary: $color-secondary-200;
$border-color-secondary: $color-secondary-120;
$border-color-secondary-active: $color-secondary-strong;
$border-color-critical: $color-critical-strong;
$border-color-disabled: $color-secondary-40;

// Disabled-color
$color-disabled-bg: $color-secondary-40;
$color-disabled-selection-bg: $color-secondary-40;

// -----------------------------------------------------------------------------
// Fonts
$font-family-primary: var(--font-helvetica);
$font-family-secondary: var(--font-manrope);

// -----------------------------------------------------------------------------
// Border-radius
$border-radius-circle: 50%;
$border-radius-round: 55px;

// -----------------------------------------------------------------------------
// Font-size
$font-size-xs: 0.75rem;
$font-size-sm: 0.875rem;
$font-size-bs: 1rem;
$font-size-md: 1.125rem;
$font-size-lg: 1.25rem;
$font-size-lg-plus: 1.5rem;
$font-size-xl: 2rem;
$font-size-xxl: 2.5rem;

$main-banner-font-size: 5rem;
$main-banner-font-size-sm: 3rem;
$secondary-banner-font-size: 4.375rem;
$secondary-banner-font-size-sm: 2.75rem;
$builder-form-title-font-size: 2.25rem;
$contacts-us-title-font-size: 3.125rem;

// -----------------------------------------------------------------------------
// Line-height
$line-height-xs: 0.75rem;
$line-height-sm: 0.875rem;
$line-height-bs: 1rem;
$line-height-md: 1.25rem;
$line-height-lg: 1.5rem;
$line-height-lg-plus: 2rem;
$line-height-xl: 2.5rem;
$line-height-xxl: 3.5rem;

$line-height-remove: 0;
$line-height-static: 1;

// -----------------------------------------------------------------------------
// Letter-spacing
$letter-spacing-bs: 0.02em;

// -----------------------------------------------------------------------------
//// Box-shadow
$box-shadow-sm:
    0 0 10px 0 rgba(87, 110, 124, 0.23),
    0 0 10px 0 rgba(250, 187, 30, 0.12);
$box-shadow-sm-hover:
    0 0 10px 0 rgba(87, 110, 124, 0.3),
    0 0 10px 0 rgba(250, 187, 30, 0.2);

$box-shadow-bs:
    0 0 20px 0 rgba(87, 110, 124, 0.23),
    0 0 20px 0 rgba(250, 187, 30, 0.12);
$box-shadow-bs-hover:
    0 0 20px 2px rgba(87, 110, 124, 0.3),
    0 0 20px 2px rgba(250, 187, 30, 0.2);

$box-shadow-md:
    0 0 20px 0 rgba(87, 110, 124, 0.23),
    0 0 20px 0 rgba(250, 187, 30, 0.17);
$box-shadow-md-hover:
    0 0 22px 0 rgba(87, 110, 124, 0.53),
    0 0 22px 0 rgba(250, 187, 30, 0.37);

// -----------------------------------------------------------------------------
// Z-indexes
$z-index-header: 1100;
$z-index-header-dropdown: 1101;
$z-index-notification: 1110;

$z-index-modal-wrapper: 1105;
$z-index-modal-mask: 1104;
$z-index-modal-content: 1106;

$z-index-drawer-root: 1112;
$z-index-drawer-mask: 1111;
$z-index-drawer-content: 1113;

// -----------------------------------------------------------------------------
// Blocks
$carousel-arrow-size: 40px;
$carousel-vertical-arrow-height: 24px;
