.order-page {
  .layout_inner-wrapper {
    padding: space(10) 0;
  }

  .common-title._h2 {
    margin-bottom: space(10);
    font-size: $font-size-xl;
    line-height: $line-height-xl;
    display: flex;
    gap: space(2);
    .common-btn {
      min-width: space(8);
    }
  }

  &_not-loaded-component {
    @include flexCenter
  }
  &_preloader {
    @include flexCenter;

    width: 100%;
  }

  &_content {
    display: flex;
    gap: space(10);
    width: 100%;
  }

  &_left-side {
    width: 100%;
  }

  &_right-side {
    max-width: 420px;
    width: 100%;
    flex: 0 0 auto;
  }

  &_empty {
    &__wrapper {
      display: flex;
      width: 100%;
      min-height: 50vh;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      .common-title {
        margin-bottom: space(3);
        font-size: $font-size-lg-plus;
        line-height: $line-height-lg-plus;
      }
      .common-text {
        font-size: $font-size-bs;
        line-height: $line-height-lg;
        color: $text-color-secondary;
        font-weight: 500;
      }
    }
    &__actions {
      margin-top: space(6);
    }
  }

  &_settings {
    &__wrapper {
      background: $color-primary-strong;
      border-radius: borderRadius(6);
      padding: space(6) space(8);
      position: sticky;
      display: flex;
      flex-direction: column;
      gap: space(4);
      .added-options-list {
        &_item__list {
          gap: space(4);
        }
        &_sub-item__wrapper {
          .common-text {
            font-size: $font-size-bs;
            line-height: $line-height-lg;
          }
        }
      }
      .additional-services_wrapper {
        .common-title {
          color: $text-color-primary;
        }
      }
      .form-field_wrapper._input {
        .form-field_field {
          padding: space(3) space(4);
        }
      }
    }
    &__actions {
      display: flex;
      flex-direction: column;
      gap: space(4);
      margin-top: space(1);
      .common-text {
        font-size: $font-size-xs;
        line-height: $line-height-bs;
      }
      .common-btn {
        width: 100%;
      }
    }
  }
}
