.added-options-list{
  &_item{
    &__wrapper{
      margin-bottom: 10px;
    }
    &__title{
      position: relative;
      margin-bottom: 10px;
      padding-left: 16px;
      font-size: $font-size-md;
      line-height: $line-height-md;
      font-family: $font-family-primary;
      color: $color-orange-600;
      &:before{
        position: absolute;
        content: '';
        left: 0;
        top: calc($line-height-md / 2);
        transform: translateY(-50%);
        width: 8px;
        height: 8px;
        background-color: $color-yellow-500;
      }
    }
    &__list{
      .common-text{
        font-size: $font-size-md;
        line-height: $line-height-md;
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        font-weight: 300;
        text-align: right;
        word-break: break-word;
        margin-bottom: 10px;
        &:last-of-type{
          margin-bottom: 0;
        }
      }
      .label{
        color: $color-grey-500;
      }
      .value{
        padding-left: 15px;
        color: $color-grey-700;
        flex: 0 0 auto;
      }
    }
  }
}