.additional-services{

  &_wrapper{
    display: flex;
    flex-direction: column;
    gap: space(3);
    padding-top: space(3);
    border-top: 1px solid $border-color-secondary;
    .common-title, .common-text{
      font-size: $font-size-bs;
      line-height: $line-height-lg;
    }
    .common-title{
      padding-right: 15px;
      color: $text-color-secondary;
    }
    .common-text{
      font-weight: 500;
    }
  }

  &_item{
    display: flex;
    justify-content: space-between;
    &:not(:last-of-type){
      margin-bottom: space(3);
    }
  }

  &_total{
    .common-text{
      font-size: $font-size-md;
    }
  }

}
