.auth-btn{
  width: 100%;
  &:not(:last-of-type){
    margin-bottom: 12px;
  }
  img{
    width: 100%;
  }
}

.auth-form{
  &_wrapper{
    width: 100%;
    max-width: 375px;
    padding: space(6) space(5);
    background: $color-primary-strong;
    .img-custom_wrapper{
      margin: space(6) auto 50px;
    }
    .common-text.divider{
      text-align: center;
      margin: 25px 0 45px;
      font-size: $font-size-lg-plus;
      line-height: $line-height-lg;
      color: #6F7175;
    }
    .form-field_label-wrapper{
      padding-left: 0;
    }
    .common-text{
      font-size: $font-size-bs;
      line-height: $line-height-lg;
      font-weight: 500;
      color: $text-color-secondary;
      text-align: center;
      margin-bottom: space(4);
    }
    a{
      font-size: $font-size-bs;
      line-height: $line-height-lg;
      font-weight: 500;
      color: $text-color-blue;
    }
  }

  &_header{
    &__logo{
      display: flex;
      justify-content: center;
      margin-bottom: space(5);
    }
    &__segmented{
      width: 100%;
      margin-bottom: space(6);
      .ant-segmented-item{
        width: 50%;
      }
    }
  }

  &_actions{
    &__wrapper{
      display: flex;
      justify-content: center;
      margin: space(6) 0 space(4);
      gap: space(4);
      .common-btn{
        width: 100%;
      }
    }
  }

  &_footer{
    &__wrapper{

    }
  }

}
