.payment-card-form {
  &_form{
    margin-top: 20px;
    padding: 20px 15px 5px;
    background: rgba(#F1E9CD, 0.12);
    box-shadow: 0 1px 4px rgba(250, 187, 30, 0.18);
    border-radius: $border-radius-md;
    .form-field_wrapper._name{
      .form-field_field{
        text-transform: uppercase
      }
    }
    &__sub-fields{
      display: flex;
      justify-content: space-between;
      margin-top: 25px;
      .form-field_wrapper{
        width: calc(50% - 2 * $space);
      }
    }

    .form-field_label-wrapper{
      background: #FDFCF9;
      color: rgba(94, 94, 94, 0.63);
      z-index: 2;
    }
  }

  &_errors{
    .common-text{
      padding-left: space(4);
      font-size: $font-size-xs;
      line-height: $line-height-bs;
      font-weight: 500;
      color: $color-critical-strong !important;
      span{
        color: $color-critical-strong;
      }
    }
  }

  &_actions{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
}
