.common-progress{
  font-size: $font-size-bs;
  line-height: $line-height-bs;
  .ant-progress{
    &-inner{
      background-color: $color-yellow-100;
    }
    &-bg{
      height: 20px !important;
      background: linear-gradient(90deg, #F79225 0%, $color-yellow-500 45.31%);
      border-radius: $border-radius-round 0 0 $border-radius-round;
    }
  }
}