.product-card{

  &_title{
    margin-bottom: 8px;
    font-size: $font-size-md;
    line-height: $line-height-md;
    font-family: $font-family-primary;
  }

  &_list{
    margin-bottom: 8px;
    padding: 0;
    li{
      list-style-type: none;
      font-size: $font-size-bs;
      line-height: $line-height-bs;
      &:not(:last-of-type){
        margin-bottom: 8px;
      }
      .label{
        color: $color-grey-800;
        padding-right: 8px;
      }
      .value{
        font-weight: 300;
      }
    }
  }

  &_description{
    margin-bottom: 0;
    color: $color-grey-800;
    font-weight: 500;
  }

}