.search-page{

  &_layout__inner-wrapper{
    padding: space(10) 0 0;
    display: flex;
  }

  &_wrapper{
    width: 100%;
  }

  &_inner-wrapper{
    height: 100%;
  }

  &_title{
    margin-bottom: space(10);
    font-size: $font-size-xl;
    line-height: $line-height-xl;
  }

  &_list{
    &__wrapper{
      width: 100%;
      margin-bottom: space(10);
      .product-search-card_wrapper, .skeleton_product-search-card{
        width: calc(50% - $space * 2.5);
      }
    }
    &__inner-wrapper{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: space(5);
    }
  }

  &_request__wrapper{
    width: 100%;
    padding: space(10) 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    .common-title{
      margin-bottom: space(10);
      font-size: $font-size-xl;
      line-height: $line-height-xl;
    }
  }
}
