@media (min-width: $xs-media) and (max-width: $sm-media-end) {

  .search-page{

    &_title{
      font-size: $font-size-lg-plus;
      line-height: $line-height-lg-plus;
      text-align: center;
    }

    &_list__wrapper{

    }
  }


}
