.form-field_wrapper._input{
  .form-field{
    &_field-wrapper{
      &:hover{
        .form-field_field{
          &:not([disabled]){
            border-color: $border-color-secondary-active;
          }
        }
      }
    }
    &_field{
      width: 100%;
      height: 100%;
      background-color: $color-primary-strong;
      border: 1px solid $border-color-secondary;
      padding: space(4);
      border-radius: borderRadius(2);
      font-size: $font-size-bs;
      line-height: $line-height-lg;
      color: $text-color-primary;
      font-weight: 500;
      outline: none !important;
      &[disabled]{
        background-color: $color-disabled-bg;
        border-color: $border-color-disabled;
        cursor: not-allowed;
      }
      &:hover, &:focus{
        box-shadow: none;
        &:not([disabled]){
          border-color: $border-color-secondary-active;
        }
      }
      &._activelabel{
        border-color: $border-color-secondary-active;
      }
    }
    &_label{
      position: absolute;
      left: space(4);
      top: 50%;
      width: auto;
      margin: 0;
      background: transparent;
      transform: translateY(-50%);
      transform-origin: 0 0;
      transition-property: transform;
      transition: $transition;
      font-size: $font-size-bs;
      line-height: $line-height-lg;
      color: $text-color-secondary;
      font-weight: 500;
      cursor: text;
      z-index: 3;
      &._activelabel {
        transform: translateY(space(-4.5));
        font-size: $font-size-xs;
        line-height: $line-height-bs;
      }
      &._disabled{
        cursor: not-allowed;
        color: $text-color-disabled;
      }
    }
  }

  &._floatinglabel{
    .form-field_field{
      padding: space(6.5) space(4) space(2.5);
    }
  }

}
