.form-field_wrapper._checkbox, .form-field_wrapper._checkboxarray{
  .form-field{
    &_field-wrapper{
      display: flex;
      align-items: center;
    }
    &_field{
      width: auto;
      font-size: $font-size-bs;
      line-height: $line-height-bs;
      .ant-checkbox{
        display: none;
        &-wrapper{
          &:after{
            display: none;
          }
        }
      }
      span{
        &:not(.ant-checkbox){
          position: relative;
          width: 24px;
          height: 24px;
          background-color: $color-primary-strong;
          border: 1px solid $border-color-primary;
          border-radius: borderRadius(1);
          transition: $transition;
          &:hover{
            svg{
              transform: translate(-50%, -50%) scale(1);
              opacity: 1;
            }
          }
          svg{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(0);
            opacity: 0;
            transition: all $transition cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
            path{
              fill: $icon-color-secondary;
            }
          }
        }
      }
    }

    &_sub-label{
      display: inline-flex;
      cursor: pointer;
      font-size: $line-height-sm;
      line-height: $line-height-md;
      color: $text-color-primary;
      font-weight: 500;
      padding-left: space(3);
    }

  }

  &._disabled{
    .form-field{
      &_field{
        span{
          &:not(.ant-checkbox){
            background-color: $color-secondary-40;
            border-color: $border-color-disabled;
            svg{
              display: none;
            }
            &:hover{
              background-color: $color-secondary-40;
              border-color: $border-color-disabled;
            }
          }
        }
      }
      &_sub-label{
        color: $text-color-disabled;
        cursor: not-allowed;
      }
    }
  }

  &._checked{
    .form-field{
      &_field{
        span{
          &:not(.ant-checkbox){
            background-color: $color-accent-strong;
            border-color: $color-accent-strong;
            svg{
              transform: translate(-50%, -50%) scale(1);
              opacity: 1;
              path {
                fill: $icon-color-primary;
              }
            }
            &:hover{
              svg{
                path{
                  fill: $icon-color-primary;
                }
              }
            }
          }
        }
      }
    }
  }

  &._simple-field{
    .form-field{
      &_sub-label-wrapper{
        display: flex;
        align-items: center;
        padding-left: 0;
      }
      &_sub-label{
        //padding-left: 0;
      }
    }
  }

}
