.form-field_wrapper._textarea{
  .form-field{
    &_field-wrapper{
      overflow: hidden;
      border-radius: borderRadius(2);
      &:hover{
        .form-field_field{
          &:not([disabled]){
            border-color: $border-color-secondary-active;
          }
        }
      }
    }

    &_field{
      width: 100%;
      height: 100%;
      background-color: $color-primary-strong;
      border: 1px solid $border-color-secondary;
      padding: space(6.5) space(4) space(8.5);
      border-radius: borderRadius(2);
      font-size: $font-size-bs;
      line-height: $line-height-lg;
      color: $text-color-primary;
      font-weight: 500;
      outline: none !important;
      min-height: 120px;
      max-height: 320px;
      &[disabled]{
        background-color: $color-disabled-bg;
        border-color: $border-color-disabled;
      }
      &:hover, &:focus{
        box-shadow: none;
        &:not([disabled]){
          border-color: $border-color-secondary-active;
        }
      }
      &._activelabel{
        border-color: $border-color-secondary-active;
      }
    }

    &_label{
      position: absolute;
      left: 0;
      top: space(4);
      width: calc(100% - 4 * $space);
      padding-top: 0;
      margin: 1px 0 0 1px;
      padding-left: space(4);
      background: white;
      border-radius: borderRadius(2);
      transform: translateY(0);
      transform-origin: 0 0;
      transition-property: transform;
      transition: $transition;
      font-size: $font-size-bs;
      line-height: $line-height-lg;
      color: $text-color-secondary;
      font-weight: 500;
      cursor: text;
      z-index: 3;
      &._activelabel {
        transform: translateY(space(-4));
        font-size: $font-size-xs;
        line-height: $line-height-bs;
        padding-top: space(3);
        padding-bottom: 3px;
      }
      &._disabled{
        cursor: not-allowed;
        color: $text-color-disabled;
        background: transparent;
      }
    }
  }

}
