*,
*:before,
*:after {
    box-sizing: border-box;
}

a,
button {
    text-decoration: none;
    outline: none !important;
    transition: $transition;
}

body {
    margin: 0;
    font-family: $font-family-primary, sans-serif;
    font-style: normal;
    font-size: $font-size-bs;
    line-height: $line-height-static;
    color: $color-secondary-strong !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: $letter-spacing-bs;
    background: $color-secondary-40;
    &.disable-scroll {
        overflow: hidden !important;
    }
}

div.__next,
div#__next {
    min-height: 100%;
}

.container {
    display: flex;
    width: 100%;
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 space(4);
    min-height: 100%;
    .row {
        display: flex;
        flex-wrap: wrap;
        margin-left: -15px;
        margin-right: -15px;
        width: calc(100% + 30px);
    }
}

.link-absolute {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 3;
}

._logout {
    cursor: pointer;
    transition: $transition;
}

.component-preloader {
    @include flexCenter;

    width: 100%;
}
