.ant-notification{
  z-index: $z-index-notification;
}

.common-notification.ant-notification-notice{
  border-radius: borderRadius(4);
  padding: space(6) space(5);
  .ant-notification{
    &-notice{
      &-close{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        top: 12px;
        right: 15px;
        border-radius: $border-radius-circle;
        transition: .3s;
        &:hover{
          background-color: $color-grey-200;
        }
      }
      &-message{
        font-size: $font-size-lg;
        line-height: $line-height-lg;
        margin-bottom: 0;
      }
      &-with-icon {
        .ant-notification{
          &-notice{
            &-message{
              font-size: $font-size-lg;
              line-height: $line-height-lg;
            }
            &-description{
              font-size: $font-size-bs;
              line-height: $line-height-bs;
            }
          }
        }
      }
    }
  }
}

@media (min-width: $xs-media) and (max-width: $xs-media-end) {

  .ant-notification-notice{
    max-width: 300px;
    padding: 24px;
  }

}
