.modal-confirm{
  .common-modal{
    &_body__wrapper{
      padding: space(14) 0 space(10);
      text-align: center;
      .common-title{
        font-size: $font-size-lg;
        line-height: $line-height-lg;
      }
      .common-text{
        font-size: $font-size-bs;
        line-height: $line-height-md;
        margin-top: space(5);
      }
    }
    &_footer__wrapper{
      display: flex;
      justify-content: space-between;
      .common-btn{
        padding: 10px;
        min-width: 120px;
      }
    }
  }


}
