.common-modal{
  &_wrapper{
    .ant-modal {
      &-mask{
        z-index: $z-index-modal-mask;
        background: rgba(217, 217, 217, 0.59);
      }
      &-content {
        position: relative;
        margin: 0 auto;
        border: 0;
        z-index: $z-index-modal-content;
      }
      &-header {
        display: none;
        background-color: transparent;
      }
      &-body {
        padding: 0;
      }
      &-footer {
        display: none;
        background-color: transparent;
      }
      &-close {
        display: none;
      }
    }
  }

  &_inner-wrapper.ant-modal{
    z-index: $z-index-modal-content;
    &.size {
      &-sm {
        width: 375px !important;
      }
      &-md {
        width: 420px !important;
      }
      &-lg {
        width: 600px !important;
      }
      &-xl {
        width: 800px !important;
      }
    }
    .ant-modal-content{
      overflow: hidden;
      border-radius: $border-radius-lg;
      box-shadow: $box-shadow-md;
      padding: space(5);
    }
  }

  &_content__wrapper{
    display: flex;
    flex-direction: column;
    gap: space(4);
  }

  &_header{
    &__wrapper{
      display: flex;
      flex-direction: column;
      gap: space(2);
      padding-right: space(6);
    }
    &__title{
      font-size: $font-size-xlllll;
      line-height: $line-height-lg-plus;
      width: 100%;
    }
    &__sub-title{
      margin: 0;
      font-size: $font-size-bs;
      line-height: $line-height-bs;
      font-family: $font-family-primary;
      width: 100%;
    }
  }

  &_close{
    position: absolute;
    right: space(5);
    top: space(5);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    width: space(6);
    height: space(6);
    padding: 0;
    border: 0;
    border-radius: $border-radius-circle;
    box-shadow: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    margin-left: auto;
    opacity: .4;
    &:hover{
      opacity: 1;
    }
  }

}
