.modal-custom-quote{
  .common-modal_inner-wrapper.ant-modal{
    .ant-modal-content{
      padding: space(8);
    }
  }
  .common-title._h2{
    margin-bottom: space(8);
    text-align: center;
    font-size: $font-size-xl;
    line-height: $line-height-xl;
  }

  &_form{
    &__main-fields{
      display: flex;
      justify-content: space-between;
      gap: space(6);
      margin-bottom: space(6);
      .form-field_wrapper{
        width: calc(50%  - 12px);
        margin-bottom: 0;
      }
    }

    .address-selection_wrapper{
      margin-bottom: space(8);
      .form-field_wrapper{
        margin-bottom: space(8);
      }
    }

    .form-field_wrapper._textarea .form-field_field{
      min-height: 180px;
    }
  }

  &_actions{
    display: flex;
    justify-content: center;
    margin-top: space(8);
  }

}


@media (min-width: $xs-media) and (max-width: $xs-media-end) {

  .modal-custom-quote {
    .common-modal_inner-wrapper.ant-modal {
      .ant-modal-content{
        padding: space(6) space(5);
      }
    }
    .common-title._h2{
      margin-bottom: space(6);
      font-size: $font-size-lg-plus;
      line-height: $line-height-lg-plus;
    }
    &_form{
      &__main-fields{
        flex-direction: column;
        margin-bottom: space(4);
        gap: space(4);
        .form-field_wrapper{
          width: 100%;
        }
      }
      .address-selection_wrapper {
        margin-bottom: space(6);
        .form-field_wrapper{
          margin-bottom: space(6);
        }
      }
    }
    &_actions{
      margin-top: space(6);
      .common-btn{
        width: 100%;
      }
    }
  }

}
