.modal-card-binding{
  .payment-card-form{
    &_form{
      margin: 0;
      padding: 0;
      background: 0;
      box-shadow: none;
      border-radius: 0;
      display: flex;
      flex-direction: column;
      gap: space(4);
    }
    &_inner{
      display: flex;
      flex-direction: column;
      padding: space(5);
      gap: space(3);
      border-radius: space(3);
      border: 1px solid $color-accent-strong;
      background: $color-accent-40;
      .form-field_wrapper{
        margin-bottom: 0;
      }
    }
    &_form{
      &__sub-fields{
        margin: 0;
      }
    }
    &_actions{
      margin-top: 0;
      .common-btn{
        width: 100%;
      }
    }
  }
}
