.form-field_wrapper._checkboxarray{
  --wrapper-mb: 20px;
  --item-mb: 10px;

  margin-bottom: calc(var(--wrapper-mb) - var(--item-mb));


  .form-field{
    &_field-wrapper{
      .ant-checkbox-group{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 20px;
      }
    }
    &_field{
      display: flex;
      align-items: center;
      margin-bottom: var(--item-mb);
      &._checked{
        span{
          &:not(.ant-checkbox){
            background-color: $color-accent-strong;
            border-color: $color-accent-strong;
            svg{
              transform: translate(-50%, -50%) scale(1);
              opacity: 1;
              path {
                fill: $icon-color-primary;
              }
            }
          }
        }
      }
      &._disabled{
        span{
          &:not(.ant-checkbox){
            background-color: $color-secondary-40;
            border-color: $color-disabled-border;
            svg{
              display: none;
            }
            &:hover{
              background-color: $color-secondary-40;
              border-color: $color-disabled-border;
            }
          }
        }
        .form-field_sub-label{
          color: $color-disabled-text;
          cursor: not-allowed;
        }
      }
    }
  }
}
