.form-field_wrapper._checkboxarray{
  margin-bottom: space(3);

  .form-field{
    &_field-wrapper{
      .ant-checkbox-group{
        display: flex;
        flex-wrap: wrap;
        column-gap: 20px;
      }
    }
    &_field{
      display: flex;
      align-items: center;
      margin-bottom: space(2);
      &._checked{
        span{
          &:not(.ant-checkbox){
            background-color: $color-accent-strong;
            border-color: $color-accent-strong;
            svg{
              transform: translate(-50%, -50%) scale(1);
              opacity: 1;
              path {
                fill: $icon-color-primary;
              }
            }
          }
        }
      }
      &._disabled{
        span{
          &:not(.ant-checkbox){
            background-color: $color-secondary-40;
            border-color: $border-color-disabled;
            svg{
              display: none;
            }
            &:hover{
              background-color: $color-secondary-40;
              border-color: $border-color-disabled;
            }
          }
        }
        .form-field_sub-label{
          color: $text-color-disabled;
          cursor: not-allowed;
        }
      }
    }
  }
}
