.form-field_wrapper._input{
  --x-p: 10px;
  --y-p: 8px;
  --icon-width: 16px;

  --bg-color: transparent;
  &._icon{
    .common-icon{
      position: absolute;
      left: 15px;
      top: 50%;
      transform: translateY(-50%);
      width: 24px;
    }
    &._icon-right{
      .common-icon{
        left: unset;
        right: 15px;
      }
      .form-field{
        &_field{
          padding-left: var(--x-p);
          padding-right: calc(var(--icon-width) + 30px);
        }
      }
    }
    .form-field{
      &_field{
        padding-left: calc(var(--icon-width) + 30px);
      }
    }
  }
  .form-field{
    &_field{
      width: 100%;
      height: 100%;
      background-color: var(--bg-color);
      border: 1px solid $color-grey-250;
      padding: var(--y-p) var(--x-p);
      font-size: $font-size-md;
      line-height: $line-height-md;
      color: $color-grey-800;
      outline: none !important;
      border-radius: $border-radius-bs;
      &[disabled]{
        background-color: $color-disabled-bg;
        border-color: $color-disabled-border;
        color: $color-disabled-text;
      }
      &:hover, &:focus{
        box-shadow: none;
        &:not([disabled]){
          border-color: $color-primary;
        }
      }
    }
  }
}
