.form-field_wrapper._input{
  &._icon{
    .common-icon{
      position: absolute;
      left: 15px;
      top: 50%;
      transform: translateY(-50%);
      width: 24px;
    }
    &._icon-right{
      .common-icon{
        left: unset;
        right: 15px;
      }
      .form-field{
        &_field{
          padding-left: space(2);
          padding-right: space(3);
        }
      }
    }
    .form-field{
      &_field{
        padding-left: calc(var(--icon-width) + 30px);
      }
    }
  }

  .form-field{
    &_field{
      width: 100%;
      height: 100%;
      background-color: transparent;
      border: 1px solid $border-color-secondary;
      padding: space(4);
      font-size: $font-size-bs;
      line-height: $line-height-lg;
      color: $text-color-primary;
      font-weight: 500;
      font-family: $font-family-secondary;
      outline: none !important;
      border-radius: borderRadius(2);
      &[disabled]{
        background-color: $color-secondary-40;
      }
      &:hover, &:focus{
        box-shadow: none;
        &:not([disabled]){
          border-color: $border-color-secondary;
        }
      }
    }
  }

  &._error{
    .form-field_field{
      border-color: $color-critical-strong !important;
      &:hover, &:focus{
        &:not([disabled]){
          border-color: $color-critical-strong !important;
        }
      }
    }
  }

}
