.form-field_wrapper._select {

  .form-field{
    &_field.ant-select{
      height: auto;
      &:hover{
        .ant-select{
          &-selector{
            border-color: $border-color-secondary-active;
          }
        }
      }
      &:not(.ant-select-show-search){
        .ant-select-selector {
          min-height: 58px;
        }
      }
      .ant-select{
        &-selector{
          height: auto;
          background-color: $color-primary-strong;
          border: 1px solid $border-color-secondary;
          padding: space(6) space(4) space(2);
          border-radius: borderRadius(2);
          font-size: $font-size-bs;
          line-height: $line-height-lg;
          color: $text-color-primary;
          font-weight: 500;
          outline: none !important;
          overflow: hidden;
          &:hover, &:focus{
            box-shadow: none;
            &:not([disabled]){
              border-color: $border-color-secondary-active;
            }
          }
          &:after{
            line-height: $line-height-bs;
          }
        }
        &-selection-search{
          inset-inline-start: 0;
          inset-inline-end: 0;
          font-size: $font-size-bs;
          line-height: $line-height-lg;
          font-weight: 500;
          padding: 0 space(4);
        }
        &-selection-search-input{
          outline: none !important;
          height: 100%;
          padding-top: space(3.5);
          font-size: $font-size-bs;
          line-height: $line-height-lg;
          font-weight: 500;
        }
        &-selection-placeholder{
          display: flex;
          align-items: center;
          inset-inline-start: 0;
          inset-inline-end: 0;
          padding: 0 space(4) 0 0;
          line-height: 1;
        }
        &-selection-item{
          align-items: center;
          font-size: $font-size-bs;
          line-height: $line-height-lg;
          font-weight: 500;
        }
        &-selection-overflow{
          .ant-select{
            &-selection-search{
              inset-inline-start: unset;
              inset-inline-end: unset;
              padding: 0;
              margin: 0;
            }
          }
        }
        &-clear{
          display: flex;
          align-items: center;
          justify-content: center;
          top: 50%;
          transform: translateY(-50%);
          left: unset;
          right: space(3);
          width: 24px;
          height: 24px;
          margin-top: unset;
          padding: space(1);
          border-radius: $border-radius-circle;
          &:hover{
            background: $color-primary-strong;
          }
          svg{
            width: 100%;
            height: 100%;
          }
        }
      }
      &.ant-select-multiple{
        .ant-select{
          &-selection-placeholder{
            padding: 0 space(4);
          }
        }
      }
      &-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector {
        box-shadow: none;
        border-color: $border-color-secondary-active;
      }
      &._disabled{
        .ant-select{
          &-selector{
            cursor: not-allowed;
            background-color: $color-disabled-bg;
            border-color: $border-color-disabled;
            color: $text-color-disabled;
            &:hover, &:focus{
              box-shadow: none;
              border-color: $border-color-disabled;
            }
          }
          &-arrow{
            .common-icon{
              opacity: $iconOpacity;
            }
          }
          &-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector {
            box-shadow: none;
            background-color: $color-secondary-200;
          }
        }
      }
    }

    &_label{
      position: absolute;
      left: space(4);
      top: 50%;
      width: auto;
      margin: 0;
      background: transparent;
      transform: translateY(-50%);
      transform-origin: 0 0;
      transition-property: transform;
      transition: $transition;
      font-size: $font-size-bs;
      line-height: $line-height-lg;
      color: $text-color-secondary;
      font-weight: 500;
      cursor: text;
      z-index: 3;
      &._activelabel {
        transform: translateY(space(-4.5));
        font-size: $font-size-xs;
        line-height: $line-height-bs;
      }
      &._disabled{
        cursor: not-allowed;
        color: $text-color-disabled;
      }
    }
  }

}

.form-field_dropdown._select{
  border-radius: borderRadius(2);
  padding: space(2) 0;
  .ant-select-item{
    &-option{
      padding: space(3) space(4);
      transition: $transition;
      &-selected{
        background-color: $color-accent-200;
      }
      &-content{
        font-size: $font-size-bs;
        line-height: $line-height-lg;
        font-weight: 500;
      }
      &-disabled{
        background-color: $color-disabled-selection-bg;
      }
      &-active:not(.ant-select-item-option-selected){
        background-color: $color-secondary-40;
      }
    }
  }
}
//.ant-select-item-option-active:not(.ant-select-item-option-disabled)
