.form-field_wrapper._password{
  .form-field{
    &_field{
      width: 100%;
      height: 100%;
      background-color: $color-primary-strong;
      border: 1px solid $border-color-secondary;
      padding: space(6) space(10) space(2) space(4);
      border-radius: borderRadius(2);
      font-size: $font-size-bs;
      line-height: $line-height-lg;
      color: $text-color-primary;
      font-weight: 500;
      outline: none !important;
      &[disabled]{
        background-color: $color-secondary-40;
      }
      &.ant-input-affix-wrapper{
        &-focused{
          box-shadow: none !important;
          border-color: $icon-color-secondary-active;
        }
      }
      &:hover, &:focus{
        box-shadow: none;
        &:not([disabled]){
          border-color: $icon-color-secondary-active;
        }
      }
      .ant-input{
        font-size: $font-size-bs;
        line-height: $line-height-lg;
        color: $text-color-primary;
        font-weight: 500;
        outline: none !important;
        &:hover, &:focus{
          &:not([disabled]){
            border-color: $icon-color-secondary-active;
          }
        }
      }
      .ant-input-suffix{
        position: absolute;
        top: 50%;
        right: space(3);
        transform: translateY(-50%);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: $border-radius-circle;
        cursor: pointer;
        transition: .2s;
      }
    }

    &_label{
      position: absolute;
      left: space(4);
      top: 50%;
      width: auto;
      margin: 0;
      background: transparent;
      transform: translateY(-50%);
      transform-origin: 0 0;
      transition-property: transform;
      transition: $transition;
      font-size: $font-size-bs;
      line-height: $line-height-lg;
      color: $text-color-secondary;
      font-weight: 500;
      cursor: text;
      z-index: 3;
      &._activelabel {
        transform: translateY(space(-4.5));
        font-size: $font-size-xs;
        line-height: $line-height-bs;
      }
      &._disabled{
        cursor: not-allowed;
        color: $text-color-disabled;
      }
    }
  }

}
