.form-field{

  &_wrapper{
    margin-bottom: 20px;
    position: relative;
    &._floating{
      .form-field_label-wrapper{
        position: absolute;
        transform: translateY(-50%);
        font-size: $font-size-bs;
        line-height: $line-height-bs;
        font-weight: 300;
        padding: 0 10px;
        left: 10px;
      }
    }
    &._error{
      &._input, &._textarea{
        .form-field_field, .form-field_field._activeLabel {
          border-color: $border-color-critical;
        }
      }
    }
  }

  &_label-wrapper{
    margin-bottom: 6px;
    padding-left: 10px;
    font-size: $font-size-lg;
    line-height: $line-height-lg;
    color: $color-grey-800;
  }

  &_sub-label{
    cursor: pointer;
  }

  &_content-wrapper{
    flex: 0 1 auto;
    width: 100%;
  }

  &_field-wrapper{
    position: relative;
    > *{
      width: 100%;
    }
  }

  &_addonAfter{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
    width: auto;
    min-width: 38px;
    padding: 0;
    border-radius: 0 $border-radius-bs $border-radius-bs 0;
    transition: .2s;
    &._click{
      cursor: pointer;
      &:hover{
        background-color: $color-grey-100;
      }
    }
  }

  &_error-wrapper{
    margin-top:  space(2);;
    padding-left: space(4);
    font-size: $font-size-xs;
    line-height: $line-height-bs;
    font-weight: 500;
    color: $color-critical-strong;
    span{
      color: $color-critical-strong;
    }
  }

  &_char-counter{
    position: absolute;
    bottom: 10px;
    right: 20px;
    width: auto;
    padding: space(1) space(2);
    border-radius: borderRadius(1);
    background-color: $color-primary-strong;
    z-index: 1;
    &._disabled{
      cursor: not-allowed;
      background-color: $color-disabled-selection-bg;
      color: $color-black;
    }
    &._error{
      color: $text-color-critical;
    }
  }

}
