.common-drawer{
  &_root{
    z-index: $z-index-drawer-root;
    &.ant-drawer-left, &.ant-drawer-right{
      .ant-drawer-content-wrapper{
        max-width: 90%;
      }
    }
    &.ant-drawer-bottom{
      .common-drawer_content__wrapper{
        height: 100%;
      }
      .common-drawer_body__wrapper{
        height: 100%;
      }
      .ant-drawer-content-wrapper{
        max-height: 90%;
      }
    }
    .ant-drawer {
      &-content {
        position: relative;
        margin: 0 auto;
        border: 0;
        overflow: hidden;
        padding: 60px 40px 30px;
        &-wrapper{
          z-index: $z-index-drawer-content;
        }
      }
      &-mask{
        z-index: $z-index-drawer-mask;
        background-color: $color-secondary-360;
      }
      &-header {
        display: none;
        background-color: transparent;
      }
      &-body {
        padding: 0;
      }
      &-footer {
        display: none;
        background-color: transparent;
      }
      &-close {
        display: none;
      }
    }
    &.ant-drawer{
      &-left{
        .ant-drawer-content-wrapper{
          border-radius: 0 $border-radius-lg $border-radius-lg 0;
        }
      }
      &-right{
        .ant-drawer-content-wrapper{
          border-radius: $border-radius-lg 0 0 $border-radius-lg;
        }
        .common-drawer_close{
          left: 18px;
          right: unset;
        }
      }
    }
  }


  &_close{
    position: absolute;
    right: space(4);
    top: space(4);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    width: space(8);
    height: space(8);
    padding: 0;
    border: 0;
    border-radius: $border-radius-circle;
    box-shadow: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    margin-left: auto;
    opacity: .4;
    &:hover{
      opacity: 1;
    }
  }

}
