@mixin header-link {
  display: inline-flex;
  align-items: center;
  position: relative;
  height: 100%;
  padding: 28px 20px;
  font-size: $font-size-lg;
  line-height: $line-height-lg;
  color: $color-black-300;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  &:hover{
    color: $color-primary;
    span{
      color: $color-primary;
    }
  }
}

@function space($value){
  @return calc(#{$space} * #{$value});
}

@function borderRadius($value){
  @return calc(#{$space} * #{$value});
}
