.skeleton_account-page-info{
  width: calc(60% - 40px);
  .account-page-info{
    &_title.ant-skeleton{
      max-width: 200px;
      margin-bottom: 32px;
      height: 40px;
    }
    &_field.ant-skeleton{
      margin-bottom: 20px;
      height: 70px;
      width: calc(50% - 15px);
    }
    &_form__wrapper{
      margin-bottom: 50px;
    }
    &_card.ant-skeleton{
      margin-bottom: 20px;
      height: 160px;
      width: calc(50% - 15px);
    }
  }
}