.skeleton_account-page-order{
  width: 40%;
  .account-page-order{
    &_title.ant-skeleton{
      max-width: 200px;
      margin-bottom: 32px;
      height: 40px;
    }
    &_segmented.ant-skeleton{
      margin-bottom: 20px;
      height: 50px;
    }
  }
}

.skeleton_account-order-item{
  .ant-skeleton{
    height: 140px;
  }
}