.added-options-list{
  &_item{
    &__wrapper{
      position: relative;
      &:not(:last-of-type){
        margin-bottom: space(3);
      }
      &:before{
        position: absolute;
        content: '';
        background: $color-secondary-40;
        top: space(-1);
        bottom: space(-1);
        right: space(-1);
        left: space(-1);
        opacity: 0;
        border-radius: borderRadius(2);
        transition: $transition;
      }
      &._clickable{
        cursor: pointer;
        &:hover{
          &:before{
            opacity: 1;
          }
        }
      }
      &._active{
        &:before{
          opacity: 1;
        }
      }
    }
    &__title{
      position: relative;
      margin-bottom: space(3);
      padding-left: space(4);
      font-size: $font-size-md;
      line-height: $line-height-md;
    }
    &__list{
      position: relative;
      display: flex;
      flex-direction: column;
      gap: space(3);
    }
  }

  &_sub-item__wrapper{
    display: flex;
    width: 100%;
    justify-content: space-between;
    .common-title, .common-text{
      font-weight: 500;
    }
    .common-title{
      padding-right: 15px;
      font-size: $font-size-bs;
      line-height: $line-height-lg;
      color: $text-color-secondary;
      word-break: break-word;
    }
    .common-text{
      font-size: $font-size-sm;
      line-height: $line-height-md;
      text-align: right;
      flex: 0 0 auto;
    }
  }

}
