.common-icon{
  &.icon-arrow{
    &.top{
      transform: rotate(180deg);
    }
    &.right{
      transform: rotate(-90deg);
    }
    &.left{
      transform: rotate(90deg);
    }
    &.bottom{
      transform: rotate(0);
    }
  }
}
