.common-segmented{
  width: auto;
  background: transparent;
  border-radius: $border-radius-round;
  overflow: hidden;
  &:hover, &:focus{
    &.ant-segmented{
      background: transparent;
    }
  }
  .ant-segmented{
    &-group{
      justify-content: space-between;
      overflow-y: auto;
      padding: space(1);
      gap: space(4);
      &::-webkit-scrollbar{
        display: none;
      }
    }
    &-item {
      padding: space(2) space(4);
      border-radius: $border-radius-round;
      font-size: $font-size-bs;
      line-height: $line-height-lg;
      color: $text-color-secondary;
      font-weight: 500;
      &-label {
        padding: 0;
        transition: 0s;
        line-height: $line-height-lg;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      &-selected{
        background: $color-accent-strong;
        color: $text-color-primary;
      }
    }
    &-thumb{
      border-radius: $border-radius-round;
      top: 4px;
      background: $color-accent-strong;
      height: calc(100% - 8px);
    }
  }

  &._block{
    padding: 0;
    border: 1px solid $border-color-secondary;
    border-radius: borderRadius(2);
    .ant-segmented{
      &-group{
        gap: space(3);
      }
      &-item{
        border-radius: borderRadius(2);
        &-selected{
          background: $color-secondary-40;
        }
      }
      &-thumb{
        border-radius: borderRadius(2);
        background: $color-secondary-40;
      }
    }
  }
}

@media (min-width: $xs-media) and (max-width: $sm-media-end) {

  .common-segmented {
    .ant-segmented{
      &-item{
        &:not(.ant-segmented-item-selected){
          //background: $color-secondary-40;
        }
      }
    }
  }

}
