@mixin tooltipInner {
  background: $color-primary-strong;
  border-radius: borderRadius(1);
  padding: space(1) space(3);
  font-size: $font-size-sm;
  line-height: $line-height-md;
  color: $text-color-primary;
  font-weight: 500;
  box-shadow: 0px -2px 12px 0px rgba(18, 18, 18, 0.08);
  max-width: 300px;
}


.common-tooltip{
  &_wrapper{
    cursor: pointer;
    display: flex;
    justify-content: center;
  }
  &_overlay{
    max-width: 300px;
    &.ant-tooltip{
      &-placement-topLeft{
        .ant-tooltip {
          &-content, &-arrow{
            margin-left: space(-3);
          }
        }
      }
    }

    .ant-tooltip{
      &-inner{
        @include tooltipInner;
        .common-text{
          margin-top: 0;
        }
      }
      &-arrow{
        &:before{
          background: $color-primary-strong;
        }
      }
    }
  }

}
