.layout{
  &_wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background: $layout-bg-color;
  }
  &_inner-wrapper {
    flex: 1 0 auto;
    width: 100%;
    min-height: calc(100vh - 100px);
  }
}

@media (min-width: $xs-media) and (max-width: $sm-media-end) {

  .layout_wrapper{
    background: $color-white;
  }

}