.account-page{

  &_layout__inner-wrapper{
    .container{
      padding-top: space(10);
      padding-bottom: space(10);
    }
  }

  &_content__wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    & > * {
      width: 100%;
    }
    .common-title._h2{
      font-size: $font-size-xl;
      line-height: $line-height-xl;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &_menu{
    &__wrapper{
      padding: space(6) space(8);
      display: flex;
      flex-direction: column;
      gap: space(2);
      flex: 0 0 auto;
    }
    &__item{
      a{
        display: flex;
        align-items: center;
        color: $text-color-secondary;
        transition: $transition;
        font-weight: 700;
        font-size: $font-size-bs;
        line-height: $line-height-lg;
        padding-top: space(2);
        padding-bottom: space(2);
        svg {
          margin-right: space(2);
          transition: $transition;
          path {
            fill: $icon-color-secondary;
            transition: $transition;
          }
        }
        &:hover{
          color: $text-color-primary;
          svg path {
            fill: $icon-color-primary;
          }
        }
      }
      &._active{
        a{
          color: $text-color-primary;
        }
        svg path {
          fill: $icon-color-primary;
        }
      }
      &._logout{
        a{
          &:hover{
            color: $color-critical-800;
            svg path {
              fill: $color-critical-800;
            }
          }
        }
      }
    }
  }

  &_section-wrapper{
    width: 100%;
    padding: space(8);
    border-radius: borderRadius(5);
    background: $color-primary-strong;
  }

  &_my-form{
    &__wrapper{
      .account-page_section-wrapper{
        display: flex;
        flex-direction: column;
        gap: space(6);
      }
      .common-title._h2{
        margin-bottom: space(6);
      }
    }
    &__form{
      display: flex;
      flex-direction: column;
      gap: space(6);
    }
    &__fields{
      display: flex;
      flex-wrap: wrap;
      gap: space(8);
      .form-field_wrapper{
        width: 50%;
        max-width: 308px;
        flex: 1;
        margin-bottom: 0;
      }
    }
    &__actions{
      display: flex;
      gap: space(5);
    }
  }


  &_payment{
    &__wrapper{
      display: flex;
      flex-direction: column;
      gap: space(6);
    }
    &__list{
      display: flex;
      flex-wrap: wrap;
      gap: space(8);
    }
    &__item{
      &._wrapper{
        position: relative;
        max-width: 335px;
        width: 100%;
        .common-text{
          margin-bottom: 0;
        }
      }
      &._inner-wrapper{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: space(4);
        padding: space(5) space(6);
        background: $color-accent-40;
        border-radius: borderRadius(2);
        border: 1px solid $color-accent-strong;
        transition: $transition;
        cursor: pointer;
        .img-custom_wrapper{
          height: 100%;
        }
        &:hover{
          background: $color-accent-400;
          .account-page_payment__item._actions{
            .common-btn{
              .common-icon path{
                fill: $icon-color-primary;
              }
            }
          }
        }
      }
      &._content{
        display: flex;
        gap: space(4);
      }
      &._icon{
        display: flex;
        align-items: center;
        flex: 0 0 auto;
      }
      &._info{
        .common-text{
          display: flex;
          margin-bottom: 0;
          gap: space(3);
          font-size: $font-size-bs;
          line-height: $line-height-lg;
          font-weight: 500;
          span{
            font-weight: 700;
          }
        }
      }
      &._actions{
        .common-btn{
          padding: 0;
          .common-icon path{
            fill: $icon-color-secondary;
          }
        }
      }
    }
  }

  &_order{
    &__wrapper{
      display: flex;
      flex-direction: column;
      gap: space(6);
    }
    &__section-wrapper{
      display: flex;
      flex-direction: column;
      gap: space(8);
    }
    &__segmented{
      display: flex;
      .ant-segmented-group{
        width: auto;
      }
    }
    &__list{
      display: flex;
      flex-wrap: wrap;
      gap: space(6);
    }
    &__item{
      &._wrapper{
        width: calc(50% - 6 * $spase);
        border: 1px solid #A4A3A3;
        border-radius: $border-radius-lg;
        transition: $transition;
        &._open{
          padding-bottom: 5px;
          border-color: $color-primary;
          .common-title._h4{
            margin-bottom: 15px;
          }
          .item_address{
            color: $color-green-500;
            margin-bottom: 25px;
          }
        }
        &:hover{
          box-shadow: $box-shadow-bs;
        }
        .common-title{
          font-family: $font-family-primary;
          color: rgba(94, 94, 94, 0.66);
          transition: $transition;
          &._h5{
            margin-bottom: 10px;
            font-size: $font-size-bs;
            line-height: $line-height-bs;
          }
          &._h4{
            display: flex;
            align-items: center;
            font-size: $font-size-xlllll;
            line-height: $line-height-lg;
            font-weight: 500;
            margin-bottom: 20px;
            .common-copy-text{
              margin-left: 10px;
            }
          }
        }
        ul{
          padding-left: 50px;
          margin-bottom: 20px;
          transition: .4s;
          transition-property: height;
          li{
            list-style-type: none;
            display: flex;
            justify-content: space-between;
            font-weight: 300;
            &:not(:last-of-type){
              margin-bottom: 20px;
            }
            .label{
              padding-right: 10px;
              font-size: $font-size-md;
              line-height: $line-height-md;
              color: $color-green-200;
            }
            .value{
              font-size: $font-size-bs;
              line-height: $line-height-bs;
              color: #A4A3A3;
            }
          }
        }
        .item{
          &_address{
            display: flex;
            align-items: center;
            margin-bottom: 15px;
            font-size: $font-size-md;
            line-height: $line-height-md;
            color: $color-grey-500;
            font-weight: 500;
            transition: $transition;
            .common-icon{
              flex: 0 0 auto;
              margin-right: 5px;
            }
          }
          &_status{
            margin-left: 20px;
            color: $color-green-200;
            font-weight: 300;
          }
          &_delivery{
            display: flex;
            justify-content: space-between;
            margin-bottom: 0;
            padding-left: 50px;
            font-weight: 300;
            font-size: $font-size-bs;
            line-height: $line-height-bs;
            .label{
              color: $color-grey-800;
            }
            .value{
              color: #A4A3A3;
              white-space: nowrap;
            }
          }
          &_map{
            &__wrapper{
              padding: 20px 35px 25px;
              .common-title{
                font-size: $font-size-md;
                line-height: $line-height-md;
                color: $color-grey-500;
              }
              iframe{
                border: 0;
              }
            }
            &__actions{
              display: flex;
              justify-content: center;
              margin-top: 35px;
              .common-btn{
                font-size: $font-size-md;
                line-height: $line-height-md;
                padding: 10px 15px;
              }
            }
          }
        }
      }
      &._inner-wrapper{
        cursor: pointer;
        padding: 8px 25px;
      }
    }
  }

}
