.account-page{

  &_layout__inner-wrapper{
    .container{
      padding-top: space(10);
      padding-bottom: space(10);
    }
  }

  &_content__wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    & > * {
      width: 100%;
    }
    .common-title._h2{
      font-size: $font-size-xl;
      line-height: $line-height-xl;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &_menu{
    &__wrapper{
      padding: space(6) space(8);
      display: flex;
      flex-direction: column;
      gap: space(2);
      flex: 0 0 auto;
    }
    &__item{
      a{
        display: flex;
        align-items: center;
        color: $text-color-secondary;
        transition: $transition;
        font-weight: 700;
        font-size: $font-size-bs;
        line-height: $line-height-lg;
        padding-top: space(2);
        padding-bottom: space(2);
        svg {
          margin-right: space(2);
          transition: $transition;
          path {
            fill: $icon-color-secondary;
            transition: $transition;
          }
        }
        &:hover{
          color: $text-color-primary;
          svg path {
            fill: $icon-color-primary;
          }
        }
      }
      &._active{
        a{
          color: $text-color-primary;
        }
        svg path {
          fill: $icon-color-primary;
        }
      }
      &._logout{
        a{
          &:hover{
            color: $color-critical-800;
            svg path {
              fill: $color-critical-800;
            }
          }
        }
      }
    }
  }

  &_section-wrapper{
    width: 100%;
    padding: space(8);
    border-radius: borderRadius(5);
    background: $color-primary-strong;
  }

  &_my-form{
    &__wrapper{
      .account-page_section-wrapper{
        display: flex;
        flex-direction: column;
        gap: space(6);
      }
      .common-title._h2{
        margin-bottom: space(6);
      }
    }
    &__form{
      display: flex;
      flex-direction: column;
      gap: space(6);
    }
    &__fields{
      display: flex;
      flex-wrap: wrap;
      gap: space(8);
      .form-field_wrapper{
        width: 50%;
        max-width: 308px;
        flex: 1;
        margin-bottom: 0;
      }
    }
    &__actions{
      display: flex;
      gap: space(5);
    }
  }


  &_payment{
    &__wrapper{
      display: flex;
      flex-direction: column;
      gap: space(6);
    }
    &__list{
      display: flex;
      flex-wrap: wrap;
      gap: space(8);
    }
    &__item{
      &._wrapper{
        position: relative;
        max-width: 335px;
        width: 100%;
        .common-text{
          margin-bottom: 0;
        }
      }
      &._inner-wrapper{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: space(4);
        padding: space(5) space(6);
        background: $color-accent-40;
        border-radius: borderRadius(2);
        border: 1px solid $color-accent-strong;
        transition: $transition;
        cursor: pointer;
        .img-custom_wrapper{
          height: 100%;
        }
        &:hover{
          background: $color-accent-400;
          .account-page_payment__item._actions{
            .common-btn{
              .common-icon path{
                fill: $icon-color-primary;
              }
            }
          }
        }
      }
      &._content{
        display: flex;
        gap: space(4);
      }
      &._icon{
        display: flex;
        align-items: center;
        flex: 0 0 auto;
      }
      &._info{
        .common-text{
          display: flex;
          margin-bottom: 0;
          gap: space(3);
          font-size: $font-size-bs;
          line-height: $line-height-lg;
          font-weight: 500;
          span{
            font-weight: 700;
          }
        }
      }
      &._actions{
        .common-btn{
          padding: 0;
          .common-icon path{
            fill: $icon-color-secondary;
          }
        }
      }
    }
  }

  &_order{
    &__wrapper{
      display: flex;
      flex-direction: column;
      gap: space(6);
    }
    &__section-wrapper{
      display: flex;
      flex-direction: column;
      gap: space(8);
    }
    &__segmented{
      display: flex;
      .ant-segmented-group{
        width: auto;
      }
    }
    &__list{
      display: flex;
      flex-wrap: wrap;
      gap: space(6);
    }
    &__item{
      &._wrapper{
        width: calc(50% - 6 * $spase);
      }
      &._inner-wrapper{
        display: flex;
        flex-direction: column;
        gap: space(5);
        padding: space(6);
        border: 1px solid $border-color-secondary;
        border-radius: borderRadius(3);
        background: $color-primary-strong;
        transition: $transition;
        &._open{
          border-color: $color-accent-strong;
          ._status{
            .common-title{
              color: $text-color-secondary;
              .common-icon path{
                fill: $icon-color-secondary;
              }
            }
          }
        }
      }
      &._title{
        display: flex;
        font-size: $font-size-lg;
        line-height: $line-height-lg;
        font-weight: 700;
        b{
         flex: 0 0 auto;
          margin-right: space(1);
        }
        .common-title{
          display: flex;
          align-items: center;
        }
      }
      &._info{
        display: flex;
        flex-direction: column;
        gap: space(5);
        .order-info-item{
          &_wrapper{
            display: flex;
          }
          &_icon{
            margin-right: space(3);
            flex: 0 0 auto;
          }
          &_text{
            display: flex;
            flex-direction: column;
            gap: space(1);
            .common-title{
              font-size: $font-size-bs;
              line-height: $line-height-lg;
              font-weight: 500;
            }
            .common-text{
              margin-bottom: 0;
              font-size: $line-height-sm;
              line-height: $line-height-md;
              font-weight: 500;
              color: $text-color-secondary;
            }
          }
        }
      }
      &._status{
        .common-title._h4{
          display: flex;
          align-items: center;
          font-size: $font-size-bs;
          line-height: $line-height-lg;
          font-weight: 700;
          transition: $transition;
          cursor: pointer;
          .common-icon{
            margin-left: space(2);
            transition: $transition;
            path{
              transition: $transition;
            }
          }
          &:hover{
            color: $text-color-secondary;
            .common-icon path{
              fill: $icon-color-secondary;
            }
          }
        }
        .order-status-timelapse{
          padding: space(2) 0;
          gap: space(10);
          .ant-steps-item{
            &-content{
              min-height: auto;
            }
            &-container{
              display: flex;
              align-items: center;
            }
            &-content{
              display: flex;
              flex-direction: column;
              gap: space(1);
            }
            &-tail{
              width: 2px;
              height: 24px;
              padding: 0;
              top: calc(100% + 2 * $spase);
              left: 12px;
              background: $color-secondary-120;
              &:after{
                width: 2px;
                background: $color-secondary-120;
                display: none;
              }
            }
            &-icon{
              display: flex;
              align-items: center;
              float: none;
              .ant-steps-icon{
                display: flex;
                align-items: center;
              }
            }
            &-title, &-description{
              padding: 0;
              font-size: $font-size-sm;
              line-height: $line-height-md;
              font-weight: 500;
            }
            &-finish{
              .ant-steps-item{
                &-title{
                  color: $text-color-success;
                }
                &-description{
                  color: $text-color-secondary;
                }
              }
            }
            &-process{
              .ant-steps-item{
                &-title{
                  font-weight: 700;
                }
              }
            }
            &-error{
              .ant-steps-item{
                &-title{
                  color: $text-color-critical;
                }
              }
            }
            &-wait{
              .ant-steps-item{
                &-icon{
                  .common-icon path{
                    fill: $icon-color-secondary;
                  }
                }
                &-title{
                  color: $text-color-secondary;
                }
                &-description{
                  color: $text-color-disabled;
                }
              }
            }
          }
        }
      }
    }
  }

}
