@media (min-width: $xs-media) and (max-width: $md-media-end) {

  .account-page{
    &_layout__inner-wrapper{
      .container{
        flex-wrap: wrap;
      }
    }

    &_menu{
      &__wrapper{
        width: 100%;
        padding: 0;
        gap: space(6);
        margin-bottom: space(5);
        flex-direction: row;
        overflow-x: auto;
      }
      &__item{
        &._wrapper{
          padding: space(2);
          white-space: nowrap;
          flex: 0 0 auto;
        }
      }
    }
  }

}

@media (min-width: $xs-media) and (max-width: $sm-media-end) {

  .account-page {

    &_section-wrapper{
      padding: space(5);
    }

    &_my-form{
      &__wrapper{
        .account-page_section-wrapper{
          gap: space(4);
        }
      }
      &__form{
        width: calc(100% + $space * 5 * 2);
        margin: 0 space(-5);
      }
      &__fields{
        gap: space(4);
        .form-field_wrapper{
          width: 100%;
          max-width: 100%;
        }
      }
      &__actions{
        padding: 0 space(5);
        justify-content: center;
        margin-top: space(2);
        .common-btn{
          width: 50%;
        }
      }
    }

    &_order{
      &__section-wrapper{
        width: calc(100% + $space * 5 * 2);
        margin: 0 space(-5);
        padding: space(6) space(5);
        gap: space(5);
      }
      &__item{
        &._wrapper{
          width: 100%;
        }
        &._inner-wrapper{
          gap: space(4);
        }
        &._info{
          gap: space(4);
        }
        &._actions{
          .common-btn{
            width: 100%;
          }
        }
      }
      &__actions{
        .common-btn{
          width: 100%;
          margin-top: space(2);
        }
      }
    }

    &_payment{
      &__wrapper{
        .account-page_section-wrapper {
          width: calc(100% + $space * 5 * 2);
          margin: 0 space(-5);
          padding: space(5);
        }
      }
      &__list{
        gap: space(5);
      }
      &__item {
        &._wrapper {
          width: 100%;
          max-width: 100%;
        }
      }
      &__actions{
        .common-btn{
          width: 100%;
          margin-top: space(2);
        }
      }
    }

  }

}
