
@media (min-width: $lg-media) and (max-width: $lg-media-end) {

  .account-page{

    &_form{
      &__wrapper{
        & > div{
          flex-direction: column;
        }
        .form-field_wrapper{
          width: calc(100% - 20px);
        }
      }
      &__actions{
        margin-top: 20px;
        .common-btn{
          min-width: 100px;
        }
      }
    }

    &_payment{
      &__item{
        &._wrapper{
          width: calc(100% - 20px);
        }
      }
      &__add{
        &._wrapper{
          width: calc(100% - 20px);
        }
      }
    }

    &_order{
      &__wrapper{
        width: 50%;
      }
    }

  }

}

@media (min-width: $md-media) and (max-width: $md-media-end) {

  .account-page{

    &_content{
      &__wrapper{
        flex-direction: column;
      }
    }

    &_order{
      &__wrapper{
        margin-top: 50px;
        width: 100%;
      }
    }

  }

}

@media (min-width: $xs-media) and (max-width: $sm-media-end) {

  .account-page{

    &_content__wrapper{
      flex-direction: column;
      box-shadow: none;
      padding: 0;
      .common-title._h2{
        font-size: 1.375rem;
        line-height: calc(1.375rem + 2px);
        color: $color-grey-800;
      }
    }

    &_form{
      &__wrapper{
        & > div{
          flex-direction: column;
        }
        .form-field_wrapper{
          width: calc(100% - 20px);
        }
      }
      &__actions{
        margin-top: 20px;
        .common-btn{
          min-width: 100px;
        }
      }
    }

    &_order{
      &__wrapper{
        width: 100%;
        margin-top: 40px;
      }
      &__item{
        &._wrapper{
          ul{
            padding-left: 0;
          }
          .item_delivery{
            padding-left: 0;
          }
          .common-title._h4{
            word-break: break-all;
          }
          .item_address{
            flex-wrap: wrap;
          }
          .item_status{
            width: 100%;
            margin-left: 0;
            margin-top: 10px;
          }
          .item_map__wrapper{
            padding: 15px;
          }
        }
        &._inner-wrapper{
          padding: 15px;
        }
      }
    }

  }

}
