
@media (min-width: $md-media) and (max-width: $md-media-end) {

  .header{
    &_logo{
      margin-right: space(3);
    }
    &_nav-actions{
      &__wrapper{
        .nav-actions{
          &_cart__wrapper{
            margin-left: space(5);
          }
          &_search__wrapper{
            margin-left: space(5);
          }
        }
      }
    }
  }

}

@media (min-width: $xs-media) and (max-width: $md-media-end) {

  .header{
    &_wrapper{
      padding: 12px 0;
      box-shadow: none;
    }

    &_nav-actions__wrapper {
      .nav-actions{
        &_cart{
          &__icon{
            background-color: transparent;
          }
          &__content{
            margin-left: 5px;
            .common-text{
              font-size: $font-size-sm;
              line-height: $line-height-sm;
            }
          }
        }
      }
    }
  }

}
