// *** Media width *** //
$xs-media: 320px;
$xs-media-end: 575.98px;

$sm-media: 576px;
$sm-media-end: 767.98px;

$md-media: 768px;
$md-media-end: 991.98px;

$lg-media: 992px;
$lg-media-end: 1199.98px;

$xl-media: 1200px;

$xxl-media: 1400px;
