.common-btn{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font-size: $font-size-lg;
  line-height: $line-height-lg;
  color: $text-color-primary;
  font-family: $font-family-primary;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  border-radius: borderRadius(2);
  box-shadow: none;
  border: 0;
  cursor: pointer;
  transition:$transition;
  svg, .common-icon, span{
    transition: $transition;
    path{
      transition: $transition;
    }
  }

  &._link{
    &:hover{
      color: $text-color-primary;
    }
  }

  &.__small{
    padding: space(2) space(4);
    font-size: $font-size-sm;
  }

  &.__medium{
    padding: space(3) space(7);
    font-size: $font-size-bs;
  }

  &.__large{
    padding: space(4) space(10);
    font-size: $font-size-md;
  }

  &.__disabled{
    color: $text-color-disabled;
    background: $color-secondary-40;
    svg path {
      fill: $icon-color-disabled !important;
    }
    &:hover{
      background-color: $color-secondary-40;
    }
  }

  &.__default{
    background-color: $color-accent-400;
    &:hover{
      background-color: $color-accent-200;
    }
    &:active{
      background-color: $color-accent-80;
    }
  }

  &.__loading{
    &.__small{
      padding: space(2.5) space(4);
    }

    &.__medium{
      padding: space(3.5) space(7);
    }

    &.__large{
      padding: space(4.5) space(10);
    }
  }

  &.__transparent{
    background-color: transparent;
    padding: 0;
    &.__opacity{
      color: $text-color-secondary;
      .common-icon{
        opacity: 0.36;
      }
    }
    &:hover {
      color: $color-accent-strong;
      .common-icon{
        opacity: 1;
      }
      svg path {
        fill: $color-accent-strong
      }
    }
    &:active{
      color: $color-accent-800;
      svg path {
        fill: $color-accent-800
      }
    }
    &.__disabled{
      &:not(.__loading){
        background: transparent;
      }
      &:hover{
        color: $text-color-disabled;
      }
      &:active{
        color: $text-color-disabled;
        svg path {
          fill: $icon-color-disabled
        }
      }
    }
    svg path {
      fill: $icon-color-primary;
    }
  }

  &.__primary{
    background-color: $color-accent-strong;
    &:hover{
      background-color: $color-accent-400;
    }
    &:active{
      background-color: $color-accent-600;
    }
    svg path {
      fill: $icon-color-primary;
    }
    &.__disabled{
      &:not(.__loading){
        background: $color-secondary-40;
      }
    }
  }

  &.__secondary{
    background-color: $color-secondary-40;
    &:hover{
      background-color: $color-accent-strong;
    }
    &:active{
      background-color: $color-accent-800;
    }
    svg path {
      fill: $icon-color-primary;
    }
    &.__disabled{
      &:not(.__loading){
        background: $color-secondary-40;
      }
      &:hover{
        background-color: $color-secondary-40;
      }
    }
  }

  &.__danger{
    color: $color-white;
    background-color: $color-critical-800;
    &:hover{
      background-color: $color-critical-600;
    }
    &:active{
      background-color: $color-critical-400;
    }
    svg path {
      fill: $color-white;
    }
    &.__disabled{
      &:not(.__loading){
        background: $color-critical-800;
      }
      &:hover{
        background-color: $color-critical-800;
      }
    }
  }

  &.__success{
    color: $color-white;
    background-color: $color-success-800;
    &:hover{
      background-color: $color-success-600;
    }
    &:active{
      background-color: $color-success-400;
    }
    svg path {
      fill: $color-white;
    }
    &.__disabled{
      &:hover{
        background-color: $color-success-800;
      }
    }
  }


  &.__disabled{
    cursor: not-allowed !important;
    text-decoration: none !important;
    opacity: 0.5;
    &:active{
      pointer-events: none !important;
    }
  }

  &.__notText{
    &.__small{
      padding: space(2);
    }
    &.__medium{
      padding: space(3);
    }
    &.__large{
      padding: space(4);
    }
    .common-btn_icon{
      margin: 0 !important;
    }
  }

  &_icon{
    display: inline-flex;
    align-items: center;
    &._left{
      margin-right: space(2);
    }
    &._right{
      margin-left: space(2);
    }
  }

}

