.order-settings-layout{
  &_wrapper{
    max-width: 420px;
    width: 100%;
    flex: 0 0 auto;
    &._title{
      .common-title._h2{
        padding-left: 0;
      }
      .order-settings-layout_inner-wrapper{
        margin-top: 0;
      }
    }
  }
  &_inner-wrapper{
    position: sticky;
    top: 100px;
    padding: 25px 30px;
    background: $color-white;
    box-shadow: $box-shadow-bs;
    border-radius: $border-radius-lg;
  }

  &_actions{
    margin-top: 30px;
    .common-btn {
      width: 100%;
      font-size: $font-size-md;
      line-height: $line-height-md;
      font-weight: 500;
    }
  }

}
