.cart-page{
  &_list{
    &__head{
      display: flex;
      flex-direction: column;
      gap: space(5);
      margin-bottom: space(10);
    }
    &__select{
      display: flex;
      justify-content: space-between;
      .form-field_wrapper{
        margin-bottom: 0;
        .form-field_sub-label{
          font-size: $font-size-bs;
          line-height: $line-height-lg;
        }
      }
    }
    &__weight{
      display: flex;
      align-items: center;
      gap: space(1);
      font-size: $font-size-bs;
      line-height: $line-height-lg;
      font-weight: 500;
      span{
        color: $text-color-secondary;
      }
    }
    &__content{
      display: flex;
      flex-direction: column;
      gap: space(5);
    }
  }

}
