.product-cart-card{
  &_wrapper{
    width: 100%;
  }

  &_inner-wrapper{
    padding: space(5) space(3);
    background-color: $color-primary-strong;
    border-radius: borderRadius(4);
    border: 1px solid $border-color-secondary;
    transition: $transition;
    display: flex;
    gap: space(5);
    &:hover{
      border-color: $border-color-accent;
    }
  }

  &_image__wrapper{
    width: 170px;
    min-height: 150px;
    flex: 0 0 auto;
  }

  &_details{
    &__wrapper{
      display: flex;
      flex-direction: column;
      gap: space(4);
    }
    &__actions{
      margin-top: auto;
    }
  }

  &_actions__wrapper{
    width: 140px;
    flex: 0 0 auto;
    margin-left: auto;
    .common-title{
      margin-bottom: space(3);
      font-size: $font-size-lg;
      line-height: $line-height-lg;
    }
    .common-text{
      display: flex;
      gap: space(2);
      font-size: $font-size-xs;
      line-height: $line-height-bs;
      color: $text-color-secondary;
      margin-bottom: space(5);
      .common-icon{
        flex: 0 0 auto;
      }
    }
  }

}
