.product-search-card{
  &_wrapper{
    width: 100%;
  }

  &_inner-wrapper{
    display: flex;
    height: 100%;
    padding: space(5) space(3);
    background-color: $color-primary-strong;
    border-radius: borderRadius(4);
    border: 1px solid $border-color-secondary;
    transition: $transition;
    gap: space(5);
    &:hover{
      border-color: $border-color-accent;
    }
  }

  &_details__wrapper{
    display: flex;
    flex-direction: column;
    gap: space(5);
  }

  &_image__wrapper{
    width: 170px;
    min-height: 100px;
    flex: 0 0 auto;
  }

  &_actions__wrapper{
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    margin-left: auto;
    gap: space(5);
    .common-title{
      font-size: $font-size-lg;
      line-height: $line-height-lg;
      text-align: right;
    }
    .common-text{
      display: flex;
      gap: space(2);
      font-size: $font-size-xs;
      line-height: $line-height-bs;
      color: $text-color-secondary;
      margin-bottom: space(5);
      .common-icon{
        flex: 0 0 auto;
      }
    }
  }

}


@media (min-width: $md-media) and (max-width: $lg-media-end) {

  .product-search-card{
    &_inner-wrapper{
      flex-wrap: wrap;
    }
    &_details__wrapper{
      width: calc(100% - 170px - $space * 5);
    }
    &_actions{
      &__wrapper{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .common-title{
          width: 170px;
          flex: 0 0 auto;
        }
      }
      &__btns{
        margin-left: space(4);
        flex: 0 0 auto;
      }
    }
  }

}

@media (min-width: $md-media) and (max-width: $md-media-end) {

  .product-search-card{
    &_inner-wrapper{
      flex-wrap: wrap;
    }
    &_image__wrapper{
      width: 120px;
    }
    &_details__wrapper{
      width: calc(100% - 120px - $space * 5);
    }
    &_actions__wrapper{
      justify-content: space-between;
      .common-title{
        width: auto;
        margin-right: space(4);
      }
    }
  }

}

@media (min-width: $xs-media) and (max-width: $sm-media-end) {

  .product-search-card{

    &_inner-wrapper{
      padding: space(3);
      flex-direction: column;
    }

    &_image__wrapper{
      width: 100%;
      height: 130px;
    }

    &_actions{
      &__wrapper{
        display: flex;
        flex-direction: column;
        margin-left: unset;
        width: 100%;
        .common-btn{
          width: 100%;
          padding: space(2) space(4);
          font-size: $font-size-sm;
          line-height: $line-height-lg;
        }
        .common-title{
          order: 0;
          &._h5{
            font-size: $font-size-bs;
            line-height: $line-height-lg;
          }
          &._h3{
            font-size: $font-size-sm;
            line-height: $line-height-md;
            margin-bottom: space(4);
          }
        }
      }
      &__btns{
        order: 0;
      }
    }

  }

}
