.cart-page{
  &_layout__inner-wrapper{
    padding: 20px 0 100px;
    .common-title._h2{
      margin-bottom: 8px;
      padding-left: 30px;
      font-size: $font-size-xxl;
      line-height: $line-height-xxl;
      font-family: $font-family-primary;
    }
  }

  &_list{
    &__wrapper{
      width: 100%;
      padding-right: 22px;
    }
    &__content{
      padding: 20px 0;
      background: $color-white;
      box-shadow: $box-shadow-bs;
      border-radius: $border-radius-lg;
      .product-cart-card_wrapper{
        &:not(:last-of-type){
          &:before{
            opacity: 1;
          }
        }
      }
    }
  }

  &_checkout{
    &__wrapper{
      max-width: 350px;
      width: 30%;
      flex: 0 0 auto;
    }
    &__inner-wrapper{
      margin-top: 42px;
      padding: 25px 30px;
      background: $color-white;
      box-shadow: $box-shadow-bs;
      border-radius: $border-radius-lg;
    }

    &__address{
      .form-field_wrapper._input{
        .form-field_field {
          padding-top: 15px;
          padding-bottom: 15px;
          background-color: rgba(217, 217, 217, 0.24);
          border-color: transparent;
          border-radius: $border-radius-lg;
          font-size: $font-size-bs;
          line-height: $line-height-bs;
          color: $color-grey-800;
          &::placeholder{
            color: $color-grey-800;
          }
        }
      }
      .common-text{
        margin-bottom: 8px;
        font-size: $font-size-bs;
        line-height: $line-height-bs;
        color: $color-grey-800;
      }
      iframe{
        border-radius: $border-radius-lg;
        border: 0;
      }
    }

    &__actions{
      margin-top: 30px;
      .common-btn {
        width: 100%;
        font-size: $font-size-md;
        line-height: $line-height-md;
        font-weight: 500;
      }
    }
  }
}

