
@media (min-width: $md-media) and (max-width: $lg-media-end) {

  .cart-page {
    &_layout__inner-wrapper {
      .container {
        flex-wrap: wrap;
      }
    }
    &_list{
      &__wrapper {
        padding: 0;
        margin-bottom: 30px;
      }
    }
    &_checkout.order-settings-layout_wrapper{
      width: 100%;
      max-width: 100%;
      .order-settings-layout{
        &_inner-wrapper{
          display: flex;
          flex-wrap: wrap;
        }
        &_head{
          width: 100%;
        }
        &_body{
          width: 50%;
          padding-right: 15px;
        }
        &_footer{
          width: 50%;
          padding-left: 15px;
          .additional-services_wrapper{
            padding-top: 0;
          }
        }
        &_actions{
          width: 100%;
          display: flex;
          justify-content: center;
        }
      }
    }
  }

}

@media (min-width: $xs-media) and (max-width: $sm-media-end) {

  .cart-page{
    &_layout__inner-wrapper{
      justify-content: center;
      .container{
        flex-wrap: wrap;
      }
      .common-title._h2{
        text-align: center;
        margin-bottom: 35px;
        font-size: 22px;
        line-height: 24px;
        font-weight: 500;
        color: $color-blue-800;
        font-family: $font-family-secondary;
      }
    }
    &_list{
      &__wrapper{
        margin-bottom: 30px;
        padding: 0;
      }
      &__content{
        padding: 0;
        box-shadow: none;
        background: none;
      }
    }
    &_checkout.order-settings-layout_wrapper{
      width: 100%;
      max-width: 100%;
    }
  }

  .product-cart-card_wrapper.product-card{
    margin-bottom: 12px;
    &:before{
      display: none;
    }
    .product-cart-card{
      &_inner-wrapper{
        padding: 15px 22px;
        flex-direction: column;
        border: 1px solid $color-grey-275;
        border-radius: $border-radius-md;

      }
      &_actions__wrapper{
        right: 18px;
      }
      &_sub-info__wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 10px;
      }
      &_price__wrapper{
        width: 50%;
        margin: 0;
        padding: 0;
      }
      &_quantity__wrapper{
        width: 50%;
        margin: 0;
        padding: 0;
        min-width: auto;
        justify-content: flex-end;
      }
    }

    .product-card{
      &_title{
        font-size: $font-size-bs;
        line-height: $line-height-bs;
        margin-bottom: 10px;
      }
    }
  }

}

@media (min-width: $xs-media) and (max-width: $xs-media-end) {


  .product-cart-card_wrapper.product-card{
    .product-cart-card {
      &_inner-wrapper {
        .img-custom_wrapper {
          display: none;
        }
      }
    }
  }

}
