.builder-page{

  &_layout__inner-wrapper{
    --right-side-width: 290px;
    --right-side-ml: 40px;

    padding: 50px 0 35px;
  }

  &_progress__wrapper{
    margin-bottom: 50px;
    .common-progress{
      width: calc(100% - var(--right-side-width) - var(--right-side-ml));
    }
  }

  &_content__wrapper{
    width: 100%;
    display: flex;
    margin-bottom: space(10);
    min-height: 50vh;
  }

  &_left-side__wrapper{
    width: 100%;
  }

  &_right-side{
    &__wrapper{
      width: var(--right-side-width);
      flex: 0 0 auto;
      margin-left: var(--right-side-ml);
      .additional-services_wrapper{
        margin-top: auto;
      }
    }
    &__inner-wrapper{
      display: flex;
      flex-direction: column;
      height: 100%;
      padding: space(6);
      background-color: $color-primary-strong;
      border-radius: space(6);
      gap: space(6);
    }
    &__head{
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &__title{
      font-size: $font-size-md;
      line-height: $line-height-lg;
    }
  }

  &_drawer-button__wrapper{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: space(6);
    background-color: $color-primary-strong;
    border-radius: space(6) space(6) 0 0;
    margin-left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: $transition;
    font-size: $font-size-lg;
    line-height: $line-height-lg;
    font-weight: 500;
    &:hover{
      box-shadow: $box-shadow-sm;
    }
  }

  &_actions{
    &__wrapper{
      width: 100%;
    }
    &__inner-wrapper{
      width: 100%;
      display: flex;
      gap: space(8);
    }
  }

  &_loader{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
  }

  &_error{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
    text-align: center;
    flex-direction: column;
    .common-title{
      margin-bottom: 20px;
      &._h3{
        font-size: $font-size-lg-plus;
        line-height: $line-height-lg;
      }
    }
    &__actions{
      margin-top: 50px;
    }
  }

  &_step{
    &__wrapper{
      height: 100%;
      position: relative;
    }
    &__title{
      margin-bottom: 35px;
      text-align: center;
      font-size: $builder-form-title-font-size;
      line-height: calc($builder-form-title-font-size + 2px);
    }
    &__description{
      display: flex;
      justify-content: center;
      margin-top: 70px;
      .common-text{
        max-width: 580px;
        padding: 10px 20px;
        background: rgba(239, 243, 250, 0.31);
        font-size: $font-size-bs;
        line-height: $line-height-bs;
        color: $color-grey-700;
        font-weight: 300;
        text-align: center;
      }
    }
  }

  &_step-loader{
    height: 100%;
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &_step-end{
    &__wrapper{
      padding: space(6);
      background-color: $color-primary-strong;
      border-radius: space(6);
    }
    &__item{
      display: flex;
      margin-bottom: space(5);
      .common-title{
        margin-bottom: space(2);
        width: 200px;
      }
      ul{
        padding-left: space(4);
        margin-bottom: 0;
      }
      li{
        display: flex;
        list-style-type: none;
        font-size: $font-size-bs;
        line-height: $line-height-bs;
        margin-bottom: space(1);
        b{
          margin-right: space(3);
          font-weight: 500;
          color: $text-color-secondary;
        }
        span{
          font-weight: 500;
        }
      }
    }
  }
}

.builder-step{

  &_wrapper{
    &:not(:last-of-type){
      margin-bottom: 40px;
    }
  }

  &_title{
    margin-bottom: space(3);
    font-size: $font-size-bs;
    line-height: $line-height-lg;
    &._big{
      margin-bottom: space(10);
      font-size: $font-size-xxl;
      line-height: $line-height-xxl;
      font-weight: 700;
    }
  }

  &_content{
    display: flex;
    flex-direction: column;
  }

  &_field__wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    &._multi{
      &:not(:first-child){
        margin-top: 45px;
      }
    }
    .form-field{
      &_field{
        min-width: 100px;
      }
      &_sub-label{
        display: flex;
        flex-direction: column;
      }
    }
    .ant-radio-button-wrapper, .ant-radio-wrapper, .form-field_sub-label{
      .common-text{
        margin-bottom: 5px;
        &:last-of-type{
          margin-bottom: 0;
        }
        &.title{
          font-size: $font-size-md;
          line-height: $line-height-md;
        }
        &.sub-title{
          font-size: $font-size-bs;
          line-height: $line-height-bs;
        }
        &.price{
          font-size: $font-size-md;
          line-height: $line-height-md;
          color: $color-text-default;
        }
      }
    }
  }

  &_elements__list{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: space(5);
  }

}

.builder-element{
  &_wrapper{
    width: calc(25% - 4 * $space);
    display: flex;
    justify-content: center;
  }

  &-card{
    &_wrapper{
      &._active{
        .builder-element-card_inner-wrapper{
          border: 2px solid $border-color-accent;
          &:hover{
            box-shadow: none;
          }
        }
      }
      &._disabled{
        .builder-element-card{
          &_inner-wrapper{
            overflow: hidden;
            &:before{
              position: absolute;
              content: '';
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background-color: $color-grey-200;
              opacity: 0.3;
              z-index: 2;
            }
            box-shadow: none;
            cursor: not-allowed;
          }
        }
      }
      &._none{
        .common-title._h4{
          margin-bottom: 0;
        }
      }
      .img-custom_wrapper{
        margin-bottom: space(3);
        height: 200px;
      }
      .common-title{
        &._h4{
          font-size: $font-size-bs;
          line-height: $line-height-lg;
        }
        &._h5{
          margin-bottom: space(1);
          font-size: $font-size-sm;
          line-height: $line-height-md;
          color: $text-color-secondary;
          font-weight: 500;
        }
      }
      .common-text{
        font-size: $font-size-bs;
        line-height: $line-height-lg;
        font-weight: 500;
      }
    }
    &_inner-wrapper{
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      width: 100%;
      padding: space(4);
      background-color: $color-primary-strong;
      border: 2px solid $border-color-secondary;
      border-radius: borderRadius(3);
      word-break: break-word;
      cursor: pointer;
      transition: .2s;
      &:hover{
        box-shadow: $box-shadow-sm;
      }
    }
  }

  &-color-picker{
    &_wrapper {
      &._active {
        .builder-element-color-picker_inner-wrapper{
          border: 2px solid $border-color-accent;
          &:hover{
            box-shadow: none;
          }
        }
      }
      .common-title{
        font-size: $font-size-md;
        line-height: $line-height-md;
        font-family: $font-family-primary;
        transition: .2s;
        &._h4{
          margin-bottom: 10px;
          font-weight: 500;
        }
        &._h5{
          margin-bottom: 20px;
          font-weight: 300;
        }
      }
      .common-text{
        font-size: $font-size-md;
        line-height: $line-height-md;
      }
    }
    &_inner-wrapper{
      position: relative;
      width: 100%;
      padding: space(4);
      background-color: $color-primary-strong;
      border: 2px solid $border-color-secondary;
      border-radius: borderRadius(3);
      transition: .2s;
      cursor: pointer;
      text-align: center;
      word-break: break-word;
      display: flex;
      flex-direction: column;
      align-items: center;
      &:hover{
        box-shadow: $box-shadow-sm;
      }
    }
    &_field{
      width: 70px;
      height: 70px;
      border-radius: 30px;
      box-shadow: $box-shadow-bs;
      margin-bottom: 10px;
      border: 2px solid $color-grey-100;
      transition: .2s;
    }
  }
}
