.builder-page{

  &_layout__inner-wrapper{
    --right-side-width: 290px;
    --right-side-ml: 40px;

    padding: 50px 0 35px;
  }

  &_progress__wrapper{
    margin-bottom: 50px;
    .common-progress{
      width: calc(100% - var(--right-side-width) - var(--right-side-ml));
    }
  }

  &_content__wrapper{
    width: 100%;
    display: flex;
    margin-bottom: 30px;
  }

  &_left-side__wrapper{
    width: 100%;
  }

  &_right-side{
    &__wrapper{
      width: var(--right-side-width);
      flex: 0 0 auto;
      margin-left: var(--right-side-ml);
    }
    &__inner-wrapper{
      display: flex;
      flex-direction: column;
      height: 100%;
      padding: 30px 20px;
      background-color: $color-white;
      box-shadow: $box-shadow-bs;
      border-radius: $border-radius-lg;
    }
  }

  &_actions{
    &__wrapper{
      width: 100%;
    }
    &__inner-wrapper{
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  }

}

.builder-element{
  &-card{
    &_wrapper{
      margin-bottom: 25px;
      padding: 0 10px;
      width: 25%;
      &._active{
        .builder-element-card{
          &_inner-wrapper{
            box-shadow: $box-shadow-active-builder-form-item;
          }
        }
      }
      .img-custom_wrapper{
        margin-bottom: 10px;
      }
      .common-title{
        font-size: $font-size-md;
        line-height: $line-height-md;
        font-family: $font-family-primary;
        &._h4{
          margin-bottom: 10px;
          font-weight: 500;
        }
        &._h5{
          margin-bottom: 20px;
          font-weight: 300;
        }
      }
      .common-text{
        margin-bottom: 0;
        font-size: $font-size-md;
        line-height: $line-height-md;
      }
    }
    &_inner-wrapper{
      position: relative;
      width: 100%;
      padding: 20px;
      background-color: $color-white;
      box-shadow: $box-shadow-bs;
      border-radius: $border-radius-lg;
      transition: .2s;
      cursor: pointer;
      text-align: center;
      word-break: break-word;
      &:hover{
        box-shadow: $box-shadow-bs-hover;
      }
    }
  }
}