.contact-us-page{

  &_layout__inner-wrapper{
    padding: space(10) 0;
    .container{
      gap: space(10);
    }
  }

  &_head{
    &__wrapper{
      width: 60%;
    }
    &__title{
      margin-bottom: space(4);
      font-size: $font-size-xxl;
      line-height: $line-height-xxl;
    }
    &__description{
      font-size: $font-size-bs;
      line-height: $line-height-lg;
      color: $text-color-secondary;
      font-weight: 500;
      &:last-of-type{
        margin-bottom: 0;
      }
    }
  }

  &_content{
    display: flex;
    justify-content: space-between;
  }

  &_map{
    &__wrapper{
      width: 100%;
      padding-right: space(10);
      iframe{
        border-radius: borderRadius(4);
        border: 0;
      }
    }
  }

  &_form{
    &__wrapper{
      position: relative;
      width: 40%;
      max-width: 440px;
      flex: 0 0 auto;
    }
    &__form{
      display: flex;
      flex-direction: column;
      padding: space(8);
      background-color: $color-primary-strong;
      gap: space(6);
      border-radius: borderRadius(4);
      .form-field_wrapper{
        margin-bottom: 0;
      }
    }
    &__title{
      font-size: $font-size-lg;
      line-height: $line-height-lg;
    }
    &__actions{
      .common-btn{
        width: 100%;
      }
    }
  }

  &_contacts{
    &__list{
      display: flex;
      justify-content: space-between;
      gap: space(10);
    }
    &__item{
      width: calc(33% - 4 * 10px);
      max-width: 370px;
      .common-title{
        margin-bottom: space(4);
        font-size: $font-size-bs;
        line-height: $line-height-lg;
      }
      .common-text{
        font-size: $font-size-bs;
        line-height: $line-height-lg;
        font-weight: 500;
        color: $text-color-secondary;
        margin-bottom: 0;
        &:not(:last-of-type){
          margin-bottom: space(3);
        }
        a{
          color: inherit;
          border-bottom: 1px solid transparent;
          &:hover{
            color: $text-color-primary;
            border-color: $color-secondary-strong;
          }
        }
      }
    }
  }
}
