.home-page {

  &_main-banner {
    &__wrapper{
      padding: space(20) 0;
    }
    &__image{
      width: calc(60% - 30px);
      .img-custom_wrapper{
        height: 400px;
      }
    }
    &__content{
      width: 40%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: space(5);
      .common-title{
        font-size: $font-size-xxl;
        line-height: $line-height-xxl;
      }
      .common-text{
        margin-bottom: 0;
        font-size: $font-size-bs;
        line-height: $line-height-lg;
        color: $text-color-secondary;
        font-weight: 500;
      }
    }
  }

  &_how-it-works{
    &__wrapper{
      padding: space(10) 0 space(20);
    }
    &__title{
      margin-bottom: space(10);
      font-size: $font-size-xxl;
      line-height: $line-height-xxl;
      text-align: center;
    }
    &__list{
      display: flex;
      justify-content: space-between;
    }
    &__item{
      &._wrapper{
        width: 100%;
        .common-title{
          margin-bottom: space(4);
          font-size: $font-size-lg;
          line-height: $line-height-lg;
        }
        .common-text{
          font-size: $font-size-bs;
          line-height: $line-height-lg;
          font-weight: 500;
          color:  $text-color-secondary;
          margin-bottom: space(4);
        }
        .img-custom_wrapper{
          margin-top: space(10);
          margin-left: auto;
        }
      }
    }
    &__column{
      width: calc(33% - 10 * $space);
    }
  }

  &_call-us{
    &__wrapper{
      padding: space(10) 0;
    }
    &__content{
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
    &__title{
      font-size: $font-size-xxl;
      line-height: $line-height-xxl;
    }
  }

}
