
@media (min-width: $xs-media) and (max-width: $md-media-end) {

  .home-page{
    &_how-it-works{
      &__list{
        flex-direction: column;
        margin-bottom: 25px;
        .how-it-works_item__wrapper{
          margin-bottom: 35px;
        }
      }
      &__column{
        width: 100%;
        &:nth-child(1){
          .how-it-works_item__wrapper{
            display: flex;
            justify-content: space-between;
            .img-custom_wrapper{
              flex: 0 0 auto;
            }
          }
        }
        //&:nth-child(2){
        //  .how-it-works_item__wrapper{
        //    .img-custom_wrapper{
        //      margin-top: 20px;
        //      margin-left: 0;
        //    }
        //  }
        //}
      }
      &__item{
        &._wrapper{
          margin-bottom: space(6);
          .img-custom_wrapper{
            margin: space(6) auto 0;
          }
          .common-title{
            margin-bottom: space(3);
            font-size: $font-size-bs;
            line-height: $line-height-lg;
          }
          .common-text{
            font-size: $font-size-sm;
            line-height: $line-height-md;
            margin-bottom: 0;
          }
        }
      }
    }
  }

}

@media (min-width: $xs-media) and (max-width: $sm-media-end) {

  .home-page{
    &_main-banner{
      &__wrapper{
        padding: space(8) 0;
      }
      &__image{
        width: 100%;
        margin-bottom: space(6);
        .img-custom_wrapper{
          height: 200px;
        }
      }
      &__content{
        width: 100%;
        gap: space(3);
        .common-title{
          font-size: $font-size-xlllll;
          line-height: $line-height-lg-plus;
        }
        .common-text{
          font-size: $font-size-sm;
          line-height: $line-height-md;
        }
        .common-btn{
          width: 100%;
          margin-top: space(3);
        }
      }
    }

    &_how-it-works{
      &__wrapper{
        padding: space(8) 0;
      }
      &__title{
        font-size: $font-size-xlllll;
        line-height: $line-height-lg-plus;
        text-align: left;
        margin-bottom: space(6);
      }
    }

    &_call-us{
      &__wrapper{
        .common-btn{
          width: 100%;
        }
      }
      &__content{
        flex-wrap: wrap;
      }
      &__title{
        font-size: $font-size-xlllll;
        line-height: $line-height-lg-plus;
        margin-bottom: 20px;
      }
    }
  }

}

@media (min-width: $sm-media) and (max-width: $md-media-end) {

  .home-page{
    &_main-banner{
      &__content{
        .common-title{
          font-size: $main-banner-font-size-sm;
          line-height: calc($main-banner-font-size-sm + 2px);
        }
      }
    }

    &_how-it-works{
      &__title{
        font-size: $secondary-banner-font-size-sm;
        line-height: calc($secondary-banner-font-size-sm + 2px);
      }
      &__list{
        width: 80%;
        margin: 0 auto;
      }
    }

    &_call-us__title{
      font-size: $main-banner-font-size-sm;
      line-height: calc($main-banner-font-size-sm + 2px);
    }

  }

}

@media (min-width: $md-media) and (max-width: $md-media-end) {

  .home-page_main-banner__image{
    .img-custom_wrapper{
      height: 300px;
    }
  }

}
