.account-page{

  &_layout__inner-wrapper{
    .container{
      padding-top: space(10);
      padding-bottom: space(10);
    }
  }

  &_content__wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    & > * {
      width: 100%;
    }
    .common-title._h2{
      font-size: $font-size-xl;
      line-height: $line-height-xl;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: space(2);
    }
  }

  &_menu{
    &__wrapper{
      padding: space(6) space(8);
      display: flex;
      flex-direction: column;
      gap: space(2);
      flex: 0 0 auto;
    }
    &__item{
      a{
        display: flex;
        align-items: center;
        color: $text-color-secondary;
        transition: $transition;
        font-weight: 700;
        font-size: $font-size-bs;
        line-height: $line-height-lg;
        padding-top: space(2);
        padding-bottom: space(2);
        .common-icon {
          margin-right: space(2);
          transition: $transition;
          flex: 0 0 auto;
          path {
            fill: $icon-color-secondary;
            transition: $transition;
          }
        }
        &:hover{
          color: $text-color-primary;
          .common-icon path {
            fill: $icon-color-primary;
          }
        }
      }
      &._active{
        a{
          color: $text-color-primary;
        }
        .common-icon path {
          fill: $icon-color-primary;
        }
      }
      &._logout{
        a{
          &:hover{
            color: $color-critical-800;
            .common-icon path {
              fill: $color-critical-800;
            }
          }
        }
      }
    }
  }

  &_section-wrapper{
    width: 100%;
    padding: space(8);
    border-radius: borderRadius(5);
    background: $color-primary-strong;
  }

  &_error{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
    text-align: center;
    flex-direction: column;
    .common-title{
      margin-bottom: 20px;
      &._h3{
        font-size: $font-size-lg-plus;
        line-height: $line-height-lg;
      }
    }
    &__actions{
      margin-top: 50px;
    }
  }

  &_loader{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
  }
}


.order-status{
  &_wrapper{
    .collapsible-block_wrapper{
      &._open{
        .collapsible-block_title{
          color: $text-color-secondary;
          margin-bottom: space(2);
          &:hover{
            color: $text-color-secondary;
            .common-icon path{
              fill: $icon-color-secondary;
            }
          }
          .common-icon path{
            fill: $icon-color-secondary;
          }
        }
      }
    }
  }

  &_timelapse.ant-steps.ant-steps-vertical{
    padding: space(2) 0;
    gap: space(10);
    .ant-steps-item{
      &-content{
        min-height: auto;
      }
      &-container{
        display: flex;
        align-items: center;
        .ant-steps-item{
          &-tail{
            width: 2px;
            height: 24px;
            padding: 0;
            top: calc(100% + 2 * $space);
            left: 12px;
            background: $color-secondary-120;
            &:after{
              width: 2px;
              background: $color-secondary-120;
              display: none;
            }
          }
        }
      }
      &-content{
        display: flex;
        flex-direction: column;
        gap: space(1);
      }
      &-icon{
        display: flex;
        align-items: center;
        float: none;
        .ant-steps-icon{
          display: flex;
          align-items: center;
        }
      }
      &-title, &-description{
        padding: 0;
        font-size: $font-size-sm;
        line-height: $line-height-md;
        font-weight: 500;
      }
      &-finish{
        .ant-steps-item{
          &-title{
            color: $text-color-success;
          }
          &-description{
            color: $text-color-secondary;
          }
        }
      }
      &-process{
        .ant-steps-item{
          &-title{
            font-weight: 700;
          }
        }
      }
      &-error{
        .ant-steps-item{
          &-title{
            color: $text-color-critical;
          }
        }
      }
      &-wait{
        .ant-steps-item{
          &-icon{
            .common-icon path{
              fill: $icon-color-secondary;
            }
          }
          &-title{
            color: $text-color-secondary;
          }
          &-description{
            color: $text-color-disabled;
          }
        }
      }
    }
  }

}

