.account-page{

  &_layout__inner-wrapper{
    .container{
      padding-top: space(10);
      padding-bottom: space(10);
    }
  }

  &_content__wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    & > * {
      width: 100%;
    }
    .common-title._h2{
      font-size: $font-size-xl;
      line-height: $line-height-xl;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: space(2);
    }
  }

  &_menu{
    &__wrapper{
      padding: space(6) space(8);
      display: flex;
      flex-direction: column;
      gap: space(2);
      flex: 0 0 auto;
    }
    &__item{
      a{
        display: flex;
        align-items: center;
        color: $text-color-secondary;
        transition: $transition;
        font-weight: 700;
        font-size: $font-size-bs;
        line-height: $line-height-lg;
        padding-top: space(2);
        padding-bottom: space(2);
        .common-icon {
          margin-right: space(2);
          transition: $transition;
          flex: 0 0 auto;
          path {
            fill: $icon-color-secondary;
            transition: $transition;
          }
        }
        &:hover{
          color: $text-color-primary;
          .common-icon path {
            fill: $icon-color-primary;
          }
        }
      }
      &._active{
        a{
          color: $text-color-primary;
        }
        .common-icon path {
          fill: $icon-color-primary;
        }
      }
      &._logout{
        a{
          &:hover{
            color: $color-critical-800;
            .common-icon path {
              fill: $color-critical-800;
            }
          }
        }
      }
    }
  }

  &_section-wrapper{
    width: 100%;
    padding: space(8);
    border-radius: borderRadius(5);
    background: $color-primary-strong;
  }

  &_error{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
    text-align: center;
    flex-direction: column;
    .common-title{
      margin-bottom: 20px;
      &._h3{
        font-size: $font-size-lg-plus;
        line-height: $line-height-lg;
      }
    }
    &__actions{
      margin-top: 50px;
    }
  }

  &_loader{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
  }

  &_my-form{
    &__wrapper{
      .account-page_section-wrapper{
        display: flex;
        flex-direction: column;
        gap: space(6);
      }
      .common-title._h2{
        margin-bottom: space(6);
      }
    }
    &__form{
      display: flex;
      flex-direction: column;
      gap: space(6);
    }
    &__fields{
      display: flex;
      flex-wrap: wrap;
      gap: space(8);
      .form-field_wrapper{
        width: 50%;
        max-width: 308px;
        margin-bottom: 0;
      }
    }
    &__actions{
      display: flex;
      gap: space(5);
    }
  }


  &_payment{
    &__wrapper{
      display: flex;
      flex-direction: column;
      gap: space(6);
    }
    &__list{
      display: flex;
      flex-wrap: wrap;
      gap: space(8);
    }
    &__empty{
      font-size: $font-size-bs;
      line-height: $line-height-lg;
      font-weight: 500;
    }
  }

  &_order{
    &__wrapper{
      display: flex;
      flex-direction: column;
      gap: space(6);
    }
    &__section-wrapper{
      display: flex;
      flex-direction: column;
      gap: space(8);
    }
    &__segmented{
      display: flex;
      .ant-segmented-group{
        width: auto;
      }
    }
    &__list{
      display: flex;
      flex-wrap: wrap;
      gap: space(6);
    }
    &__item{
      &._wrapper{
        width: calc(50% - 6 * $space / 2);
      }
      &._inner-wrapper{
        display: flex;
        flex-direction: column;
        gap: space(5);
        padding: space(6);
        border: 1px solid $border-color-secondary;
        border-radius: borderRadius(3);
        background: $color-primary-strong;
        transition: $transition;
        &._open{
          border-color: $color-accent-strong;
          ._status{
            .common-title{
              color: $text-color-secondary;
              .common-icon path{
                fill: $icon-color-secondary;
              }
            }
          }
        }
      }
      &._title{
        font-weight: 700;
        .common-title{
          display: flex;
          margin-bottom: space(3);
          font-size: $font-size-lg;
          line-height: $line-height-lg;
        }
        .common-text{
          display: flex;
          align-items: center;
          font-size: $font-size-sm;
          line-height: $line-height-md;
          margin-left: space(-1.5);
          .common-icon{
            margin-right: space(2);
          }
        }
      }
      &._info{
        display: flex;
        flex-direction: column;
        gap: space(5);
        .order-info-item{
          &_wrapper{
            display: flex;
          }
          &_icon{
            margin-right: space(3);
            flex: 0 0 auto;
          }
          &_text{
            display: flex;
            flex-direction: column;
            gap: space(1);
            .common-title{
              font-size: $font-size-bs;
              line-height: $line-height-lg;
              font-weight: 500;
            }
            .common-text{
              font-size: $line-height-sm;
              line-height: $line-height-md;
              font-weight: 500;
              color: $text-color-secondary;
              span{
                margin-right: space(4);
              }
            }
          }
        }
      }
    }
  }

  &_single-order{
    &__wrapper{
      display: flex;
      flex-direction: column;
      gap: space(6);
      .common-title._h3{
        font-size: $font-size-lg-plus;
        line-height: $line-height-lg-plus;
      }
    }

    &__section-wrapper{
      display: flex;
      flex-direction: column;
      gap: space(8);
    }

    &__head{
      display: flex;
      padding-left: space(3);
      padding-right: space(3);
      .single-order_head__item{
        width: 33%;
        position: relative;
        padding: 0 space(10);
        &:not(:last-child){
          &:before{
            position: absolute;
            content: "";
            width: 2px;
            max-height: 32px;
            height: 100%;
            top: 50%;
            transform: translateY(-50%);
            right: -1px;
            background: $border-color-secondary;
            border-radius: borderRadius(1);
          }
        }
        .common-title, .common-text{
          font-size: $font-size-bs;
          line-height: $line-height-lg;
        }
        .common-text{
          margin-bottom: space(1);
          color: $text-color-secondary;
        }
      }
    }

    &__details{
      .common-title{
        margin-bottom: space(4);
        font-size: $font-size-bs;
        line-height: $line-height-lg;
      }

      .single-order_details__item{
        display: flex;
        gap: space(2);
      }
    }

    &__list{
      display: flex;
      flex-direction: column;
      gap: space(3);
      .single-order_details__item{
        display: flex;
        gap: space(2);
        font-size: $font-size-sm;
        line-height: $line-height-md;
      }
    }

    &__images{
      display: flex;
      flex-wrap: wrap;
      gap: space(5);
      .img-custom_wrapper{
        width: 80px;
        height: 80px;
      }
    }

    &__services{
      border-top: 0;
      .additional-services{
        &_list{
          .additional-services_item{
            &:not(:last-child){
              margin-bottom: space(2);
            }
          }
        }
        &_item{
          .common-title, .common-text{
            font-size: $font-size-sm;
            line-height: $line-height-md;
            color: $text-color-primary;
          }
        }
        &_total{
          border-top: 1px solid $border-color-primary;
          padding-top: space(3);
          .common-title, .common-text {
            font-size: $font-size-lg;
            line-height: $line-height-lg;
            font-weight: 700;
          }
        }
      }
    }
  }

}


.order-status{
  &_wrapper{
    .collapsible-block_wrapper{
      &._open{
        .collapsible-block_title{
          color: $text-color-secondary;
          margin-bottom: space(2);
          &:hover{
            color: $text-color-secondary;
            .common-icon path{
              fill: $icon-color-secondary;
            }
          }
          .common-icon path{
            fill: $icon-color-secondary;
          }
        }
      }
    }
  }

  &_timelapse.ant-steps.ant-steps-vertical{
    padding: space(2) 0;
    gap: space(10);
    .ant-steps-item{
      &-content{
        min-height: auto;
      }
      &-container{
        display: flex;
        align-items: center;
        .ant-steps-item{
          &-tail{
            width: 2px;
            height: 24px;
            padding: 0;
            top: calc(100% + 2 * $space);
            left: 12px;
            background: $color-secondary-120;
            &:after{
              width: 2px;
              background: $color-secondary-120;
              display: none;
            }
          }
        }
      }
      &-content{
        display: flex;
        flex-direction: column;
        gap: space(1);
      }
      &-icon{
        display: flex;
        align-items: center;
        float: none;
        .ant-steps-icon{
          display: flex;
          align-items: center;
        }
      }
      &-title, &-description{
        padding: 0;
        font-size: $font-size-sm;
        line-height: $line-height-md;
        font-weight: 500;
      }
      &-finish{
        .ant-steps-item{
          &-title{
            color: $text-color-success;
          }
          &-description{
            color: $text-color-secondary;
          }
        }
      }
      &-process{
        .ant-steps-item{
          &-title{
            font-weight: 700;
          }
        }
      }
      &-error{
        .ant-steps-item{
          &-title{
            color: $text-color-critical;
          }
        }
      }
      &-wait{
        .ant-steps-item{
          &-icon{
            .common-icon path{
              fill: $icon-color-secondary;
            }
          }
          &-title{
            color: $text-color-secondary;
          }
          &-description{
            color: $text-color-disabled;
          }
        }
      }
    }
  }

}
