@media (min-width: $xs-media) and (max-width: $md-media-end) {

  .account-page{

    &_layout__inner-wrapper{
      .container{
        flex-wrap: wrap;
      }
    }

    &_menu{
      &__wrapper{
        width: 100%;
        padding: 0;
        gap: space(6);
        margin-bottom: space(5);
        flex-direction: row;
        overflow-x: auto;
      }
      &__item{
        &._wrapper{
          padding: space(2);
          white-space: nowrap;
          flex: 0 0 auto;
        }
      }
    }

  }

}


@media (min-width: $xs-media) and (max-width: $sm-media-end) {

  .account-page {

    &_section-wrapper{
      padding: space(5);
    }

    &_content__wrapper{
      .common-title._h2 {
        font-size: $font-size-lg-plus;
        line-height: $line-height-lg-plus;
        justify-content: center;
      }
    }

  }

}






