.skeleton_product-search-card{
  width: 100%;
  .product-search-card{
    &_image__wrapper{
      .ant-skeleton{
        height: 100%;
      }
    }
    &_details__wrapper{
      width: 100%;
      .title{
        margin-bottom: space(2);
      }
      .list{
        .ant-skeleton{
          &:not(:last-child){
            margin-bottom: space(1);
          }
        }
      }
    }
    &_actions__wrapper{
      .ant-skeleton {
        &:not(:last-child){
          margin-bottom: space(8);
        }
      }
    }
  }

}

@media (min-width: $md-media) and (max-width: $xl-media) {

  .skeleton_product-search-card{
    .product-search-card{
      &_details__wrapper{
        width: calc(100% - 170px - $space * 5);
      }
      &_actions__wrapper{
        .ant-skeleton {
          margin-bottom: 0;
          &:last-child{
            display: flex;
            justify-content: flex-end;
          }
        }
      }
    }
  }

}

@media (min-width: $xs-media) and (max-width: $sm-media-end) {

  .skeleton_product-search-card{
    width: 100%;
    .product-search-card{
      &_details__wrapper{
        width: 100%;
        .title{
          margin-bottom: space(1);
        }
      }
      &_actions__wrapper{
        .ant-skeleton {
          &:not(:last-child){
            margin-bottom: space(3);
          }
        }
      }
    }
  }

}
